In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt 
import os

In [2]:
chile_df = pd.read_csv('data/chile.csv',  low_memory=False)
argentina_df = pd.read_csv('data/argentina.csv',  low_memory=False)
antartica_df = pd.read_csv('data/antartica.csv',  low_memory=False)

In [3]:
#info que muestre todos los datos 
chile_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9481 entries, 0 to 9480
Data columns (total 146 columns):
 #    Column               Dtype
---   ------               -----
 0    occurrence_no        int64
 1    record_type          object
 2    reid_no              float64
 3    flags                object
 4    collection_no        int64
 5    accepted_name        object
 6    accepted_attr        float64
 7    accepted_rank        object
 8    accepted_no          float64
 9    early_interval       object
 10   late_interval        object
 11   max_ma               float64
 12   min_ma               float64
 13   ref_author           object
 14   ref_pubyr            int64
 15   reference_no         int64
 16   phylum               object
 17   phylum_no            object
 18   class                object
 19   class_no             object
 20   order                object
 21   order_no             object
 22   family               object
 23   family_no            object
 24   genus                object
 25   genus_no             object
 26   subgenus_no          float64
 27   primary_name         object
 28   primary_reso         object
 29   subgenus_name        object
 30   subgenus_reso        object
 31   species_name         object
 32   species_reso         object
 33   image_no             float64
 34   plant_organ          object
 35   plant_organ2         float64
 36   abund_value          object
 37   abund_unit           object
 38   taxon_environment    object
 39   environment_basis    object
 40   motility             object
 41   motility_basis       object
 42   life_habit           object
 43   life_habit_basis     object
 44   vision               object
 45   vision_basis         object
 46   diet                 object
 47   diet_basis           object
 48   reproduction         object
 49   reproduction_basis   object
 50   ontogeny             object
 51   ontogeny_basis       object
 52   ecospace_comments    object
 53   composition          object
 54   architecture         object
 55   thickness            object
 56   reinforcement        object
 57   taphonomy_basis      object
 58   lng                  float64
 59   lat                  float64
 60   cc                   object
 61   state                object
 62   county               object
 63   latlng_basis         object
 64   latlng_precision     object
 65   geogscale            object
 66   geogcomments         object
 67   paleomodel           object
 68   geoplate             object
 69   paleoage             object
 70   paleolng             float64
 71   paleolat             float64
 72   paleomodel2          object
 73   geoplate2            object
 74   paleoage2            object
 75   paleolng2            float64
 76   paleolat2            float64
 77   paleomodel3          object
 78   geoplate3            object
 79   paleoage3            object
 80   paleolng3            float64
 81   paleolat3            float64
 82   formation            object
 83   stratgroup           object
 84   member               object
 85   formation.1          object
 86   stratgroup.1         object
 87   member.1             object
 88   stratscale           object
 89   zone                 object
 90   localsection         object
 91   localbed             object
 92   localbedunit         object
 93   localorder           object
 94   regionalsection      float64
 95   regionalbed          float64
 96   regionalbedunit      float64
 97   regionalorder        float64
 98   stratcomments        object
 99   lithdescript         object
 100  lithology1           object
 101  lithadj1             object
 102  lithification1       object
 103  minor_lithology1     object
 104  fossilsfrom1         object
 105  lithology2           object
 106  lithadj2             object
 107  lithification2       object
 108  minor_lithology2     object
 109  fossilsfrom2         object
 110  lithdescript.1       object
 111  lithology1.1         object
 112  lithadj1.1           object
 113  lithification1.1     object
 114  minor_lithology1.1   object
 115  fossilsfrom1.1       object
 116  lithology2.1         object
 117  lithadj2.1           object
 118  lithification2.1     object
 119  minor_lithology2.1   object
 120  fossilsfrom2.1       object
 121  environment          object
 122  tectonic_setting     object
 123  geology_comments     object
 124  time_bins            object
 125  time_contain         object
 126  time_major           object
 127  time_buffer          object
 128  time_overlap         object
 129  collection_type      object
 130  collection_methods   object
 131  museum               object
 132  collection_coverage  object
 133  collection_size      object
 134  rock_censused        object
 135  collectors           object
 136  collection_dates     object
 137  collection_comments  object
 138  taxonomy_comments    object
 139  primary_reference    object
 140  authorizer_no        int64
 141  enterer_no           int64
 142  modifier_no          int64
 143  authorizer           object
 144  enterer              object
 145  modifier             object
dtypes: float64(20), int64(7), object(119)
memory usage: 10.6+ MB

In [4]:
argentina_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31881 entries, 0 to 31880
Data columns (total 146 columns):
 #    Column               Dtype
---   ------               -----
 0    occurrence_no        int64
 1    record_type          object
 2    reid_no              float64
 3    flags                object
 4    collection_no        int64
 5    accepted_name        object
 6    accepted_attr        float64
 7    accepted_rank        object
 8    accepted_no          float64
 9    early_interval       object
 10   late_interval        object
 11   max_ma               float64
 12   min_ma               float64
 13   ref_author           object
 14   ref_pubyr            int64
 15   reference_no         int64
 16   phylum               object
 17   phylum_no            object
 18   class                object
 19   class_no             object
 20   order                object
 21   order_no             object
 22   family               object
 23   family_no            object
 24   genus                object
 25   genus_no             object
 26   subgenus_no          float64
 27   primary_name         object
 28   primary_reso         object
 29   subgenus_name        object
 30   subgenus_reso        object
 31   species_name         object
 32   species_reso         object
 33   image_no             float64
 34   plant_organ          object
 35   plant_organ2         object
 36   abund_value          object
 37   abund_unit           object
 38   taxon_environment    object
 39   environment_basis    object
 40   motility             object
 41   motility_basis       object
 42   life_habit           object
 43   life_habit_basis     object
 44   vision               object
 45   vision_basis         object
 46   diet                 object
 47   diet_basis           object
 48   reproduction         object
 49   reproduction_basis   object
 50   ontogeny             object
 51   ontogeny_basis       object
 52   ecospace_comments    object
 53   composition          object
 54   architecture         object
 55   thickness            object
 56   reinforcement        object
 57   taphonomy_basis      object
 58   lng                  float64
 59   lat                  float64
 60   cc                   object
 61   state                object
 62   county               object
 63   latlng_basis         object
 64   latlng_precision     object
 65   geogscale            object
 66   geogcomments         object
 67   paleomodel           object
 68   geoplate             object
 69   paleoage             object
 70   paleolng             float64
 71   paleolat             float64
 72   paleomodel2          object
 73   geoplate2            object
 74   paleoage2            object
 75   paleolng2            float64
 76   paleolat2            float64
 77   paleomodel3          object
 78   geoplate3            object
 79   paleoage3            object
 80   paleolng3            float64
 81   paleolat3            float64
 82   formation            object
 83   stratgroup           object
 84   member               object
 85   formation.1          object
 86   stratgroup.1         object
 87   member.1             object
 88   stratscale           object
 89   zone                 object
 90   localsection         object
 91   localbed             object
 92   localbedunit         object
 93   localorder           object
 94   regionalsection      object
 95   regionalbed          object
 96   regionalbedunit      object
 97   regionalorder        object
 98   stratcomments        object
 99   lithdescript         object
 100  lithology1           object
 101  lithadj1             object
 102  lithification1       object
 103  minor_lithology1     object
 104  fossilsfrom1         object
 105  lithology2           object
 106  lithadj2             object
 107  lithification2       object
 108  minor_lithology2     object
 109  fossilsfrom2         object
 110  lithdescript.1       object
 111  lithology1.1         object
 112  lithadj1.1           object
 113  lithification1.1     object
 114  minor_lithology1.1   object
 115  fossilsfrom1.1       object
 116  lithology2.1         object
 117  lithadj2.1           object
 118  lithification2.1     object
 119  minor_lithology2.1   object
 120  fossilsfrom2.1       object
 121  environment          object
 122  tectonic_setting     object
 123  geology_comments     object
 124  time_bins            object
 125  time_contain         object
 126  time_major           object
 127  time_buffer          object
 128  time_overlap         object
 129  collection_type      object
 130  collection_methods   object
 131  museum               object
 132  collection_coverage  object
 133  collection_size      object
 134  rock_censused        object
 135  collectors           object
 136  collection_dates     object
 137  collection_comments  object
 138  taxonomy_comments    object
 139  primary_reference    object
 140  authorizer_no        int64
 141  enterer_no           int64
 142  modifier_no          int64
 143  authorizer           object
 144  enterer              object
 145  modifier             object
dtypes: float64(15), int64(7), object(124)
memory usage: 35.5+ MB

In [ ]:
antartica_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11311 entries, 0 to 11310
Data columns (total 146 columns):
 #    Column               Dtype
---   ------               -----
 0    occurrence_no        int64
 1    record_type          object
 2    reid_no              float64
 3    flags                object
 4    collection_no        int64
 5    accepted_name        object
 6    accepted_attr        float64
 7    accepted_rank        object
 8    accepted_no          float64
 9    early_interval       object
 10   late_interval        object
 11   max_ma               float64
 12   min_ma               float64
 13   ref_author           object
 14   ref_pubyr            int64
 15   reference_no         int64
 16   phylum               object
 17   phylum_no            object
 18   class                object
 19   class_no             object
 20   order                object
 21   order_no             object
 22   family               object
 23   family_no            object
 24   genus                object
 25   genus_no             object
 26   subgenus_no          float64
 27   primary_name         object
 28   primary_reso         object
 29   subgenus_name        object
 30   subgenus_reso        object
 31   species_name         object
 32   species_reso         object
 33   image_no             float64
 34   plant_organ          object
 35   plant_organ2         object
 36   abund_value          object
 37   abund_unit           object
 38   taxon_environment    object
 39   environment_basis    object
 40   motility             object
 41   motility_basis       object
 42   life_habit           object
 43   life_habit_basis     object
 44   vision               object
 45   vision_basis         object
 46   diet                 object
 47   diet_basis           object
 48   reproduction         object
 49   reproduction_basis   object
 50   ontogeny             object
 51   ontogeny_basis       object
 52   ecospace_comments    object
 53   composition          object
 54   architecture         object
 55   thickness            object
 56   reinforcement        object
 57   taphonomy_basis      object
 58   lng                  float64
 59   lat                  float64
 60   cc                   object
 61   state                object
 62   county               object
 63   latlng_basis         object
 64   latlng_precision     object
 65   geogscale            object
 66   geogcomments         object
 67   paleomodel           object
 68   geoplate             object
 69   paleoage             object
 70   paleolng             float64
 71   paleolat             float64
 72   paleomodel2          object
 73   geoplate2            object
 74   paleoage2            object
 75   paleolng2            float64
 76   paleolat2            float64
 77   paleomodel3          object
 78   geoplate3            object
 79   paleoage3            object
 80   paleolng3            float64
 81   paleolat3            float64
 82   formation            object
 83   stratgroup           object
 84   member               object
 85   formation.1          object
 86   stratgroup.1         object
 87   member.1             object
 88   stratscale           object
 89   zone                 object
 90   localsection         object
 91   localbed             object
 92   localbedunit         object
 93   localorder           object
 94   regionalsection      object
 95   regionalbed          float64
 96   regionalbedunit      object
 97   regionalorder        object
 98   stratcomments        object
 99   lithdescript         object
 100  lithology1           object
 101  lithadj1             object
 102  lithification1       object
 103  minor_lithology1     object
 104  fossilsfrom1         object
 105  lithology2           object
 106  lithadj2             object
 107  lithification2       object
 108  minor_lithology2     object
 109  fossilsfrom2         object
 110  lithdescript.1       object
 111  lithology1.1         object
 112  lithadj1.1           object
 113  lithification1.1     object
 114  minor_lithology1.1   object
 115  fossilsfrom1.1       object
 116  lithology2.1         object
 117  lithadj2.1           object
 118  lithification2.1     object
 119  minor_lithology2.1   object
 120  fossilsfrom2.1       object
 121  environment          object
 122  tectonic_setting     object
 123  geology_comments     object
 124  time_bins            object
 125  time_contain         object
 126  time_major           object
 127  time_buffer          object
 128  time_overlap         object
 129  collection_type      object
 130  collection_methods   object
 131  museum               object
 132  collection_coverage  object
 133  collection_size      object
 134  rock_censused        object
 135  collectors           object
 136  collection_dates     object
 137  collection_comments  object
 138  taxonomy_comments    object
 139  primary_reference    object
 140  authorizer_no        int64
 141  enterer_no           int64
 142  modifier_no          int64
 143  authorizer           object
 144  enterer              object
 145  modifier             object
dtypes: float64(16), int64(7), object(123)
memory usage: 12.6+ MB

Como grupo fuimos viendo manualmente que columnas nos servirian para poder responder las preguntas planteadas en la propuesta inicial, y llegamos a un concenso de elegir las siguientes 19 columnas como base para poder responder estas.

In [6]:
columns = [
    'species_name',
    'occurrence_no',
    'accepted_name',
    'early_interval',
    'late_interval',
    'phylum',
    'class',
    'order',
    'family',
    'genus',
    'lat',
    'lng',
    'diet',
    'life_habit',
    "environment",
    "taxon_environment",
    "primary_name"
]

#Hacer que los df solo tengan las columnas que necesitamos
chile_df = chile_df[columns].copy()
argentina_df = argentina_df[columns].copy()
antartica_df = antartica_df[columns].copy()

In [7]:
chile_df

,species_name,occurrence_no,accepted_name,early_interval,late_interval,phylum,class,order,family,genus,lat,lng,diet,life_habit,environment,taxon_environment,primary_name
0,ceciliana,16417,Leionucula,Maastrichtian,NaN,Mollusca,Bivalvia,Nuculida,Nuculidae,Leionucula,-37.000000,-73.000000,"deposit feeder, suspension feeder",infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Leionucula
1,amuriensis,16418,Nuculana,Maastrichtian,NaN,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Nuculana,-37.000000,-73.000000,"deposit feeder, suspension feeder",infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Nuculana
2,cuneiformis,16419,Nuculana,Maastrichtian,NaN,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Nuculana,-37.000000,-73.000000,"deposit feeder, suspension feeder",infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Nuculana
3,levitestata,16420,Yoldia,Maastrichtian,NaN,Mollusca,Bivalvia,Nuculanida,Yoldiidae,Yoldia,-37.000000,-73.000000,deposit feeder,infaunal,NaN,"inner shelf,outer shelf,oceanic",Yoldia
4,pencana,16421,Neiloides,Maastrichtian,NaN,Mollusca,Bivalvia,Nuculida,NO_FAMILY_SPECIFIED,Neiloides,-37.000000,-73.000000,deposit feeder,infaunal,NaN,NaN,Neiloides
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9476,sp.,1659402,Ostrea,Turonian,Campanian,Mollusca,Bivalvia,Ostreida,Ostreidae,Ostrea,-50.884998,-72.625000,suspension feeder,epifaunal,basinal (siliciclastic),"hypersaline,marine,brackish",Ostrea
9477,antarctica,1659403,Cucullaea antarctica,Turonian,Campanian,Mollusca,Bivalvia,Arcida,Cucullaeidae,Cucullaea,-50.884998,-72.625000,suspension feeder,infaunal,basinal (siliciclastic),NaN,Cucullaea
9478,sp.,1659404,Nucula,Turonian,Campanian,Mollusca,Bivalvia,Nuculida,Nuculidae,Nucula,-50.884998,-72.625000,"deposit feeder, suspension feeder",infaunal,basinal (siliciclastic),"coastal,inner shelf,outer shelf,oceanic",Nucula
9479,saladensis,1660104,Micrauchenia saladensis,Tortonian,Messinian,Chordata,Mammalia,Panameriungulata,Macraucheniidae,Micrauchenia,-27.684723,-70.949997,herbivore,scansorial,coastal indet.,terrestrial,Micrauchenia
9480,indet.,1662256,Tracheophyta,Early Maastrichtian,NaN,Tracheophyta,NaN,NaN,NaN,NaN,-50.711666,-72.541389,NaN,NaN,coarse channel fill,NaN,Tracheophyta

In [8]:
obtener_duplicados_chile = chile_df.duplicated(keep=False)
datos_duplicados_chile = chile_df[obtener_duplicados_chile]
datos_duplicados_chile

Empty DataFrame
Columns: [species_name, occurrence_no, accepted_name, early_interval, late_interval, phylum, class, order, family, genus, lat, lng, diet, life_habit, environment, taxon_environment, primary_name]
Index: []

In [ ]:
obtener_duplicados_argentina = argentina_df.duplicated(keep=False)
datos_duplicados_argentina = argentina_df[obtener_duplicados_argentina]
datos_duplicados_argentina

NameError: name 'argentina_df_df' is not defined

In [10]:
obtener_duplicados_antartica = antartica_df.duplicated(keep=False)
datos_duplicados_antartica = antartica_df[obtener_duplicados_antartica]
datos_duplicados_antartica

Empty DataFrame
Columns: [species_name, occurrence_no, accepted_name, early_interval, late_interval, phylum, class, order, family, genus, lat, lng, diet, life_habit, environment, taxon_environment, primary_name]
Index: []

Notamos que no hay datos duplicados, por ende no es necesario realizar ninguna acción adicional para eliminar duplicados.

In [11]:
chile_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9481 entries, 0 to 9480
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species_name       9481 non-null   object
 1   occurrence_no      9481 non-null   int64
 2   accepted_name      9343 non-null   object
 3   early_interval     9481 non-null   object
 4   late_interval      1605 non-null   object
 5   phylum             9337 non-null   object
 6   class              9292 non-null   object
 7   order              9123 non-null   object
 8   family             8914 non-null   object
 9   genus              8574 non-null   object
 10  lat                9481 non-null   float64
 11  lng                9481 non-null   float64
 12  diet               8749 non-null   object
 13  life_habit         8743 non-null   object
 14  environment        9402 non-null   object
 15  taxon_environment  5847 non-null   object
 16  primary_name       9481 non-null   object
dtypes: float64(2), int64(1), object(14)
memory usage: 1.2+ MB

In [12]:
argentina_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31881 entries, 0 to 31880
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species_name       31881 non-null  object
 1   occurrence_no      31881 non-null  int64
 2   accepted_name      31253 non-null  object
 3   early_interval     31881 non-null  object
 4   late_interval      5288 non-null   object
 5   phylum             31226 non-null  object
 6   class              31038 non-null  object
 7   order              29738 non-null  object
 8   family             29056 non-null  object
 9   genus              27398 non-null  object
 10  lat                31881 non-null  float64
 11  lng                31881 non-null  float64
 12  diet               24717 non-null  object
 13  life_habit         22808 non-null  object
 14  environment        31192 non-null  object
 15  taxon_environment  18471 non-null  object
 16  primary_name       31881 non-null  object
dtypes: float64(2), int64(1), object(14)
memory usage: 4.1+ MB

In [13]:
antartica_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11311 entries, 0 to 11310
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species_name       11311 non-null  object
 1   occurrence_no      11311 non-null  int64
 2   accepted_name      10977 non-null  object
 3   early_interval     11311 non-null  object
 4   late_interval      2888 non-null   object
 5   phylum             10960 non-null  object
 6   class              10926 non-null  object
 7   order              10744 non-null  object
 8   family             10604 non-null  object
 9   genus              10375 non-null  object
 10  lat                11311 non-null  float64
 11  lng                11311 non-null  float64
 12  diet               7706 non-null   object
 13  life_habit         6012 non-null   object
 14  environment        10351 non-null  object
 15  taxon_environment  5410 non-null   object
 16  primary_name       11311 non-null  object
dtypes: float64(2), int64(1), object(14)
memory usage: 1.5+ MB

In [14]:
chile_df['era_early'] = None
argentina_df['era_early'] = None
antartica_df['era_early'] = None

In [15]:
chile_df['era_late'] = None
argentina_df['era_late'] = None
antartica_df['era_late'] = None

In [16]:
cambrian_intervals = [
    "Early Terreneuvian", "Middle Terreneuvian", "Late Terreneuvian", "Terreneuvian",
    "Early Series 2", "Middle Series 2", "Late Series 2", "Series 2",
    "Early Miaolingian", "Middle Miaolingian", "Late Miaolingian", "Miaolingian",
    "Early Furongian", "Middle Furongian", "Late Furongian", "Furongian",
    "Early Fortunian", "Middle Fortunian", "Late Fortunian", "Fortunian",
    "Early Stage 2", "Middle Stage 2", "Late Stage 2", "Stage 2",
    "Early Stage 3", "Middle Stage 3", "Late Stage 3", "Stage 3",
    "Early Stage 4", "Middle Stage 4", "Late Stage 4", "Stage 4",
    "Early Wuliuan", "Middle Wuliuan", "Late Wuliuan", "Wuliuan",
    "Early Drumian", "Middle Drumian", "Late Drumian", "Drumian",
    "Early Guzhangian", "Middle Guzhangian", "Late Guzhangian", "Guzhangian",
    "Early Paibian", "Middle Paibian", "Late Paibian", "Paibian",
    "Early Jiangshanian", "Middle Jiangshanian", "Late Jiangshanian", "Jiangshanian",
    "Early Stage 10", "Middle Stage 10", "Late Stage 10", "Stage 10","Middle Cambrian", "Atdabanian",
    "Toyonian", "Botomian", "Early Cambrian", 'Floran', 'Lenian', 'Dresbachian',
    'Dolgellian', 'Merioneth', 'Trempealeauan', 'Idamean',
       'Sunwaptan','St Davids', 'Solvan', 'Dyeran', 'Wonokan',
        'Tulean', 'Blackhillsian'

]


silurian_intervals = [
    "Early Rhuddanian", "Middle Rhuddanian", "Late Rhuddanian", "Rhuddanian",
    "Early Aeronian", "Middle Aeronian", "Late Aeronian", "Aeronian",
    "Early Telychian", "Middle Telychian", "Late Telychian", "Telychian",
    "Early Sheinwoodian", "Middle Sheinwoodian", "Late Sheinwoodian", "Sheinwoodian",
    "Early Homerian", "Middle Homerian", "Late Homerian", "Homerian",
    "Early Gorstian", "Middle Gorstian", "Late Gorstian", "Gorstian",
    "Early Ludfordian", "Middle Ludfordian", "Late Ludfordian", "Ludfordian",
    "Early Llandovery", "Middle Llandovery", "Late Llandovery", "Llandovery",
    "Early Wenlock", "Middle Wenlock", "Late Wenlock", "Wenlock",
    "Early Ludlow", "Middle Ludlow", "Late Ludlow", "Ludlow",
    "Early Pridoli", "Middle Pridoli", "Late Pridoli", "Pridoli"
]


devonian_intervals = [
    "Early Lochkovian", "Middle Lochkovian", "Late Lochkovian", "Lochkovian",
    "Early Pragian", "Middle Pragian", "Late Pragian", "Pragian",
    "Early Emsian", "Middle Emsian", "Late Emsian", "Emsian",
    "Early Eifelian", "Middle Eifelian", "Late Eifelian", "Eifelian",
    "Early Givetian", "Middle Givetian", "Late Givetian", "Givetian",
    "Early Fransnian", "Middle Fransnian", "Late Fransnian", "Fransnian",
    "Early Famennian", "Middle Famennian", "Late Famennian", "Famennian",
    "Early Devonian", "Middle Devonian", "Late Devonian"
]


carboniferous_intervals = [
    "Early Tournaisian", "Middle Tournaisian", "Late Tournaisian", "Tournaisian",
    "Early Visean", "Middle Visean", "Late Visean", "Visean",
    "Early Serpukhovian", "Middle Serpukhovian", "Late Serpukhovian", "Serpukhovian",
    "Early Bashkirian", "Middle Bashkirian", "Late Bashkirian", "Bashkirian",
    "Early Moscovian", "Middle Moscovian", "Late Moscovian", "Moscovian",
    "Early Kasimovian", "Middle Kasimovian", "Late Kasimovian", "Kasimovian",
    "Early Gzhelian", "Middle Gzhelian", "Late Gzhelian", "Gzhelian",
    "Early Mississippian", "Middle Mississippian", "Late Mississippian", "Mississippian",
    "Early Pennsylvanian", "Middle Pennsylvanian", "Late Pennsylvanian", "Pennsylvanian",
    'Namurian', 'Virgilian', "Arnsbergian", 
]

permian_intervals = [
    "Early Asselian", "Middle Asselian", "Late Asselian", "Asselian",
    "Early Sakmarian", "Middle Sakmarian", "Late Sakmarian", "Sakmarian",
    "Early Artinskian", "Middle Artinskian", "Late Artinskian", "Artinskian",
    "Early Kungurian", "Middle Kungurian", "Late Kungurian", "Kungurian",
    "Early Roadian", "Middle Roadian", "Late Roadian", "Roadian",
    "Early Wordian", "Middle Wordian", "Late Wordian", "Wordian",
    "Early Capitanian", "Middle Capitanian", "Late Capitanian", "Capitanian",
    "Early Wuchiapingian", "Middle Wuchiapingian", "Late Wuchiapingian", "Wuchiapingian",
    "Early Changhsingian", "Middle Changhsingian", "Late Changhsingian", "Changhsingian",
    "Early Cisuralian", "Middle Cisuralian", "Late Cisuralian", "Cisuralian",
    "Early Guadalupian", "Middle Guadalupian", "Late Guadalupian", "Guadalupian",
    "Early Lopingian", "Middle Lopingian", "Late Lopingian", "Lopingian"
]


ordovician_intervals = [
    "Early Ordovician", "Middle Ordovician", "Late Ordovician",
    "Early Tremadocian", "Middle Tremadocian", "Late Tremadocian", "Tremadocian",
    "Early Floian", "Middle Floian", "Late Floian", "Floian",
    "Early Dapingian", "Middle Dapingian", "Late Dapingian", "Dapingian",
    "Early Darriwilian", "Middle Darriwilian", "Late Darriwilian", "Darriwilian",
    "Early Sandbian", "Middle Sandbian", "Late Sandbian", "Sandbian",
    "Early Katian", "Middle Katian", "Late Katian", "Katian",
    "Early Hirnantian", "Middle Hirnantian", "Late Hirnantian", "Hirnantian",
    'Arenig', 'Early Llanvirn', 'Ibex', 'Tremadoc', 'Llanvirn', 'Gisbornian',
    'Caradoc', 'Early Llandeilo','Costonian', 'Actonian', 'Late Llandeilo',
    'Longvillian', 'Llandeilo', 'Arenigian', 'Late Llanvirn', 'Whiterockian',
    'Skullrockian', 'Stairsian'
]

triassic_intervals = [
    "Early Induan", "Middle Induan", "Late Induan", "Induan",
    "Early Anisian", "Middle Anisian", "Late Anisian", "Anisian",
    "Early Ladinian", "Middle Ladinian", "Late Ladinian", "Ladinian",
    "Early Carnian", "Middle Carnian", "Late Carnian", "Carnian",
    "Early Norian", "Middle Norian", "Late Norian", "Norian",
    "Early Rhaetian", "Middle Rhaetian", "Late Rhaetian", "Rhaetian",
    "Early Triassic", "Middle Triassic", "Late Triassic", 'Sevatian',
    'Olenekian', 'Longobardian'
]


neogene_intervals = [
    "Early Miocene", "Middle Miocene", "Late Miocene", "Miocene",
    "Early Pliocene", "Middle Pliocene", "Late Pliocene", "Pliocene",
    "Early Aquitanian", "Middle Aquitanian", "Late Aquitanian", "Aquitanian",
    "Early Burdigalian", "Middle Burdigalian", "Late Burdigalian", "Burdigalian",
    "Early Langhian", "Middle Langhian", "Late Langhian", "Langhian",
    "Early Serrevallian", "Middle Serrevallian", "Late Serrevallian", "Serrevallian",
    "Early Tortonian", "Middle Tortonian", "Late Tortonian", "Tortonian",
    "Early Messinian", "Middle Messinian", "Late Messinian", "Messinian",
    "Early Zanclean", "Middle Zanclean", "Late Zanclean", "Zanclean",
    "Early Piacenzian", "Middle Piacenzian", "Late Piacenzian", "Piacenzian",
    'Serravallian', 'Colhuehuapian', 'Santacrucian','Friasian',
    'Chasicoan', 'Montehermosan', 'Huayquerian', 'Chapadmalalan',
    'Colloncuran', 'Mayoan'
]


quaternary_intervals = [
    "Early Pleistocene", "Middle Pleistocene", "Late Pleistocene", "Pleistocene",
    "Early Gelasian", "Middle Gelasian", "Late Gelasian", "Gelasian",
    "Early Calabrian", "Middle Calabrian", "Late Calabrian", "Calabrian",
    "Early Chibanian", "Middle Chibanian", "Late Chibanian", "Chibanian",
    'Holocene', 'Lujanian', 'Ensenadan', 'Ionian', 'Uquian'
]


jurassic_intervals = [
    "Early Hettangian", "Middle Hettangian", "Late Hettangian", "Hettangian",
    "Early Sinemurian", "Middle Sinemurian", "Late Sinemurian", "Sinemurian",
    "Early Pliensbachian", "Middle Pliensbachian", "Late Pliensbachian", "Pliensbachian",
    "Early Toarcian", "Middle Toarcian", "Late Toarcian", "Toarcian",
    "Early Aalenian", "Middle Aalenian", "Late Aalenian", "Aalenian",
    "Early Bajocian", "Middle Bajocian", "Late Bajocian", "Bajocian",
    "Early Bathonian", "Middle Bathonian", "Late Bathonian", "Bathonian",
    "Early Callovian", "Middle Callovian", "Late Callovian", "Callovian",
    "Early Oxfordian", "Middle Oxfordian", "Late Oxfordian", "Oxfordian",
    "Early Kimmeridgian", "Middle Kimmeridgian", "Late Kimmeridgian", "Kimmeridgian",
    "Early Tithonian", "Middle Tithonian", "Late Tithonian", "Tithonian",
    "Early Jurassic", "Middle Jurassic", "Late Jurassic", 'Planorbis',
    'Margaritatus', 'Variabilis', 'Opalinum','Angulata', 'Obtusum',
    'Falciferum', 'Bifrons', 'Murchisonae', 'Jamesoni', 'Spinatum',
    'Davoei', 'Liasicus', 'Bucklandi', 'Concavum'
]


paleogene_intervals = [
    "Early Paleocene", "Middle Paleocene", "Late Paleocene", "Paleocene",
    "Early Eocene", "Middle Eocene", "Late Eocene", "Eocene",
    "Early Oligocene", "Middle Oligocene", "Late Oligocene", "Oligocene",
    "Early Danian", "Middle Danian", "Late Danian", "Danian",
    "Early Selandian", "Middle Selandian", "Late Selandian", "Selandian",
    "Early Thanetian", "Middle Thanetian", "Late Thanetian", "Thanetian",
    "Early Ypresian", "Middle Ypresian", "Late Ypresian", "Ypresian",
    "Early Lutetian", "Middle Lutetian", "Late Lutetian", "Lutetian",
    "Early Bartonian", "Middle Bartonian", "Late Bartonian", "Bartonian",
    "Early Priabonian", "Middle Priabonian", "Late Priabonian", "Priabonian",
    "Early Rupelian", "Middle Rupelian", "Late Rupelian", "Rupelian",
    "Early Chattian", "Middle Chattian", "Late Chattian", "Chattian",
    'Casamayoran', 'Tinguirirican', 'Riochican', 'Deseadan', 'Mustersan',
    'Divisaderan'
]

cretaceous_intervals = [
    "Early Berriasian", "Middle Berriasian", "Late Berriasian", "Berriasian",
    "Early Valanginian", "Middle Valanginian", "Late Valanginian", "Valanginian",
    "Early Hauterivian", "Middle Hauterivian", "Late Hauterivian", "Hauterivian",
    "Early Barremian", "Middle Barremian", "Late Barremian", "Barremian",
    "Early Aptian", "Middle Aptian", "Late Aptian", "Aptian",
    "Early Albian", "Middle Albian", "Late Albian", "Albian",
    "Early Cenomanian", "Middle Cenomanian", "Late Cenomanian", "Cenomanian",
    "Early Turonian", "Middle Turonian", "Late Turonian", "Turonian",
    "Early Coniacian", "Middle Coniacian", "Late Coniacian", "Coniacian",
    "Early Santonian", "Middle Santonian", "Late Santonian", "Santonian",
    "Early Campanian", "Middle Campanian", "Late Campanian", "Campanian",
    "Early Maastrichtian", "Middle Maastrichtian", "Late Maastrichtian", "Maastrichtian",
    "Early Cretaceous", "Late Cretaceous", 'Neocomian','Senonian'
]

ediacaran_intervals = ["Ediacaran"]

cryogenian_intervals = ["Cryogenian"]

tonian_intervals = ["Tonian"]

siderian_intervals = ["Siderian"]
rhyacian_intervals = ["Rhyacian"]
orosirian_intervals = ["Orosirian"]
statherian_intervals = ["Statherian"]
calymmian_intervals = ["Calymmian"]
ectasian_intervals = ["Ectasian"]
stenian_intervals = ["Stenian"]

nan = [np.nan]

In [17]:
def assign_era(row):
    if row['early_interval'] in cambrian_intervals:
        return 'Cambrian'
    elif row['early_interval'] in ordovician_intervals:
        return 'Ordovician'
    elif row['early_interval'] in silurian_intervals:
        return 'Silurian'
    elif row['early_interval'] in devonian_intervals:
        return 'Devonian'
    elif row['early_interval'] in carboniferous_intervals:
        return 'Carboniferous'
    elif row['early_interval'] in permian_intervals:
        return 'Permian'
    elif row['early_interval'] in triassic_intervals:
        return 'Triassic'
    elif row['early_interval'] in jurassic_intervals:
        return 'Jurassic'
    elif row['early_interval'] in cretaceous_intervals:
        return 'Cretaceous'
    elif row['early_interval'] in paleogene_intervals:
        return 'Paleogene'
    elif row['early_interval'] in neogene_intervals:
        return 'Neogene'
    elif row['early_interval'] in quaternary_intervals:
        return 'Quaternary'
    elif row['early_interval'] in nan:
        return "No especificado"
    else:
        return row['early_interval']

In [18]:
def assign_era_late(row):
    if row['late_interval'] in cambrian_intervals:
        return 'Cambrian'
    elif row['late_interval'] in ordovician_intervals:
        return 'Ordovician'
    elif row['late_interval'] in silurian_intervals:
        return 'Silurian'
    elif row['late_interval'] in devonian_intervals:
        return 'Devonian'
    elif row['late_interval'] in carboniferous_intervals:
        return 'Carboniferous'
    elif row['late_interval'] in permian_intervals:
        return 'Permian'
    elif row['late_interval'] in triassic_intervals:
        return 'Triassic'
    elif row['late_interval'] in jurassic_intervals:
        return 'Jurassic'
    elif row['late_interval'] in cretaceous_intervals:
        return 'Cretaceous'
    elif row['late_interval'] in paleogene_intervals:
        return 'Paleogene'
    elif row['late_interval'] in neogene_intervals:
        return 'Neogene'
    elif row['late_interval'] in quaternary_intervals:
        return 'Quaternary'
    elif row['late_interval'] in nan:
        return "No especificado"
    else:
        return row['late_interval']

In [19]:
chile_df['era_early'] = chile_df.apply(assign_era, axis=1)
argentina_df['era_early'] = argentina_df.apply(assign_era, axis=1)
antartica_df['era_early'] = antartica_df.apply(assign_era, axis=1)

In [20]:
chile_df['era_late'] = chile_df.apply(assign_era_late, axis=1)
argentina_df['era_late'] = argentina_df.apply(assign_era_late, axis=1)
antartica_df['era_late'] = antartica_df.apply(assign_era_late, axis=1)

In [21]:
chile_df.drop(columns=['late_interval', 'early_interval'], inplace=True)
argentina_df.drop(columns=['late_interval', 'early_interval'], inplace=True)
antartica_df.drop(columns=['late_interval', 'early_interval'], inplace=True)

In [22]:
chile_df.head()

,species_name,occurrence_no,accepted_name,phylum,class,order,family,genus,lat,lng,diet,life_habit,environment,taxon_environment,primary_name,era_early,era_late
0,ceciliana,16417,Leionucula,Mollusca,Bivalvia,Nuculida,Nuculidae,Leionucula,-37.0,-73.0,"deposit feeder, suspension feeder",infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Leionucula,Cretaceous,No especificado
1,amuriensis,16418,Nuculana,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Nuculana,-37.0,-73.0,"deposit feeder, suspension feeder",infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Nuculana,Cretaceous,No especificado
2,cuneiformis,16419,Nuculana,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Nuculana,-37.0,-73.0,"deposit feeder, suspension feeder",infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Nuculana,Cretaceous,No especificado
3,levitestata,16420,Yoldia,Mollusca,Bivalvia,Nuculanida,Yoldiidae,Yoldia,-37.0,-73.0,deposit feeder,infaunal,NaN,"inner shelf,outer shelf,oceanic",Yoldia,Cretaceous,No especificado
4,pencana,16421,Neiloides,Mollusca,Bivalvia,Nuculida,NO_FAMILY_SPECIFIED,Neiloides,-37.0,-73.0,deposit feeder,infaunal,NaN,NaN,Neiloides,Cretaceous,No especificado

In [23]:
argentina_df.head()

,species_name,occurrence_no,accepted_name,phylum,class,order,family,genus,lat,lng,diet,life_habit,environment,taxon_environment,primary_name,era_early,era_late
0,sp.,17744,Nuculana,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Nuculana,-39.0,-69.0,"deposit feeder, suspension feeder",infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Nuculana,Cretaceous,No especificado
1,rocana,17745,Cucullaea,Mollusca,Bivalvia,Arcida,Cucullaeidae,Cucullaea,-39.0,-69.0,suspension feeder,infaunal,NaN,NaN,Cucullaea,Cretaceous,No especificado
2,feruglioli,17746,Glycymerita,Mollusca,Bivalvia,Arcida,Glycymerididae,Glycymerita,-39.0,-69.0,suspension feeder,semi-infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Glycymerita,Cretaceous,No especificado
3,sp.,17747,Glycymerita,Mollusca,Bivalvia,Arcida,Glycymerididae,Glycymerita,-39.0,-69.0,suspension feeder,semi-infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Glycymerita,Cretaceous,No especificado
4,mechanquilensis,17748,Inoceramus,Mollusca,Bivalvia,Myalinida,Inoceramidae,Inoceramus,-39.0,-69.0,suspension feeder,epifaunal,NaN,NaN,Inoceramus,Cretaceous,No especificado

In [24]:
antartica_df.head()

,species_name,occurrence_no,accepted_name,phylum,class,order,family,genus,lat,lng,diet,life_habit,environment,taxon_environment,primary_name,era_early,era_late
0,rossiana,16484,Solemya,Mollusca,Bivalvia,Solemyida,Solemyidae,Solemya,-64.0,-57.0,"deposit feeder, chemosymbiotic",deep infaunal,NaN,"lagoonal,coastal,inner shelf,outer shelf,oceanic",Solemya,Cretaceous,No especificado
1,suboblonga,16485,Nucula (Leionucula) suboblonga,Mollusca,Bivalvia,Nuculida,Nuculidae,Leionucula,-64.0,-57.0,"deposit feeder, suspension feeder",infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Leionucula,Cretaceous,No especificado
2,nordenskjoldi,16486,Nordenskjoeldia,Mollusca,Bivalvia,Arcida,Parallelodontidae,Nordenskjoeldia,-64.0,-57.0,suspension feeder,low-level epifaunal,NaN,NaN,Nordenskjoeldia,Cretaceous,No especificado
3,oliveroi,16487,NaN,NaN,NaN,NaN,NaN,NaN,-64.0,-57.0,NaN,NaN,NaN,NaN,Austrocucullaea,Cretaceous,No especificado
4,antarctica,16488,Cucullaea antarctica,Mollusca,Bivalvia,Arcida,Cucullaeidae,Cucullaea,-64.0,-57.0,suspension feeder,infaunal,NaN,NaN,Cucullaea,Cretaceous,No especificado