In [11]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import pyarrow.parquet as pq
import pyarrow as pa
import os

In [45]:
# Cargar los datos desde los archivos CSV
chile_df = pd.read_csv('data/chile.csv',  low_memory=False)
argentina_df = pd.read_csv('data/argentina.csv',  low_memory=False)
antartica_df = pd.read_csv('data/antartica.csv',  low_memory=False)

# Mostrar la cantidad de columnas y la información de cada DataFrame
dataframes = {
    'Chile': chile_df,
    'Argentina': argentina_df,
    'Antártica': antartica_df
}

for name, df in dataframes.items():
    print(f"DataFrame: {name}")
    print(f"Número de columnas: {len(df.columns)}")
    print("Información de las columnas:")
    print(df.info(5))
    print("\n")

DataFrame: Chile
Número de columnas: 146
Información de las columnas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9481 entries, 0 to 9480
Data columns (total 146 columns):
 #    Column               Dtype
---   ------               -----
 0    occurrence_no        int64
 1    record_type          object
 2    reid_no              float64
 3    flags                object
 4    collection_no        int64
 5    accepted_name        object
 6    accepted_attr        float64
 7    accepted_rank        object
 8    accepted_no          float64
 9    early_interval       object
 10   late_interval        object
 11   max_ma               float64
 12   min_ma               float64
 13   ref_author           object
 14   ref_pubyr            int64
 15   reference_no         int64
 16   phylum               object
 17   phylum_no            object
 18   class                object
 19   class_no             object
 20   order                object
 21   order_no             object
 22   family               object
 23   family_no            object
 24   genus                object
 25   genus_no             object
 26   subgenus_no          float64
 27   primary_name         object
 28   primary_reso         object
 29   subgenus_name        object
 30   subgenus_reso        object
 31   species_name         object
 32   species_reso         object
 33   image_no             float64
 34   plant_organ          object
 35   plant_organ2         float64
 36   abund_value          object
 37   abund_unit           object
 38   taxon_environment    object
 39   environment_basis    object
 40   motility             object
 41   motility_basis       object
 42   life_habit           object
 43   life_habit_basis     object
 44   vision               object
 45   vision_basis         object
 46   diet                 object
 47   diet_basis           object
 48   reproduction         object
 49   reproduction_basis   object
 50   ontogeny             object
 51   ontogeny_basis       object
 52   ecospace_comments    object
 53   composition          object
 54   architecture         object
 55   thickness            object
 56   reinforcement        object
 57   taphonomy_basis      object
 58   lng                  float64
 59   lat                  float64
 60   cc                   object
 61   state                object
 62   county               object
 63   latlng_basis         object
 64   latlng_precision     object
 65   geogscale            object
 66   geogcomments         object
 67   paleomodel           object
 68   geoplate             object
 69   paleoage             object
 70   paleolng             float64
 71   paleolat             float64
 72   paleomodel2          object
 73   geoplate2            object
 74   paleoage2            object
 75   paleolng2            float64
 76   paleolat2            float64
 77   paleomodel3          object
 78   geoplate3            object
 79   paleoage3            object
 80   paleolng3            float64
 81   paleolat3            float64
 82   formation            object
 83   stratgroup           object
 84   member               object
 85   formation.1          object
 86   stratgroup.1         object
 87   member.1             object
 88   stratscale           object
 89   zone                 object
 90   localsection         object
 91   localbed             object
 92   localbedunit         object
 93   localorder           object
 94   regionalsection      float64
 95   regionalbed          float64
 96   regionalbedunit      float64
 97   regionalorder        float64
 98   stratcomments        object
 99   lithdescript         object
 100  lithology1           object
 101  lithadj1             object
 102  lithification1       object
 103  minor_lithology1     object
 104  fossilsfrom1         object
 105  lithology2           object
 106  lithadj2             object
 107  lithification2       object
 108  minor_lithology2     object
 109  fossilsfrom2         object
 110  lithdescript.1       object
 111  lithology1.1         object
 112  lithadj1.1           object
 113  lithification1.1     object
 114  minor_lithology1.1   object
 115  fossilsfrom1.1       object
 116  lithology2.1         object
 117  lithadj2.1           object
 118  lithification2.1     object
 119  minor_lithology2.1   object
 120  fossilsfrom2.1       object
 121  environment          object
 122  tectonic_setting     object
 123  geology_comments     object
 124  time_bins            object
 125  time_contain         object
 126  time_major           object
 127  time_buffer          object
 128  time_overlap         object
 129  collection_type      object
 130  collection_methods   object
 131  museum               object
 132  collection_coverage  object
 133  collection_size      object
 134  rock_censused        object
 135  collectors           object
 136  collection_dates     object
 137  collection_comments  object
 138  taxonomy_comments    object
 139  primary_reference    object
 140  authorizer_no        int64
 141  enterer_no           int64
 142  modifier_no          int64
 143  authorizer           object
 144  enterer              object
 145  modifier             object
dtypes: float64(20), int64(7), object(119)
memory usage: 10.6+ MB
None


DataFrame: Argentina
Número de columnas: 146
Información de las columnas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31881 entries, 0 to 31880
Data columns (total 146 columns):
 #    Column               Dtype
---   ------               -----
 0    occurrence_no        int64
 1    record_type          object
 2    reid_no              float64
 3    flags                object
 4    collection_no        int64
 5    accepted_name        object
 6    accepted_attr        float64
 7    accepted_rank        object
 8    accepted_no          float64
 9    early_interval       object
 10   late_interval        object
 11   max_ma               float64
 12   min_ma               float64
 13   ref_author           object
 14   ref_pubyr            int64
 15   reference_no         int64
 16   phylum               object
 17   phylum_no            object
 18   class                object
 19   class_no             object
 20   order                object
 21   order_no             object
 22   family               object
 23   family_no            object
 24   genus                object
 25   genus_no             object
 26   subgenus_no          float64
 27   primary_name         object
 28   primary_reso         object
 29   subgenus_name        object
 30   subgenus_reso        object
 31   species_name         object
 32   species_reso         object
 33   image_no             float64
 34   plant_organ          object
 35   plant_organ2         object
 36   abund_value          object
 37   abund_unit           object
 38   taxon_environment    object
 39   environment_basis    object
 40   motility             object
 41   motility_basis       object
 42   life_habit           object
 43   life_habit_basis     object
 44   vision               object
 45   vision_basis         object
 46   diet                 object
 47   diet_basis           object
 48   reproduction         object
 49   reproduction_basis   object
 50   ontogeny             object
 51   ontogeny_basis       object
 52   ecospace_comments    object
 53   composition          object
 54   architecture         object
 55   thickness            object
 56   reinforcement        object
 57   taphonomy_basis      object
 58   lng                  float64
 59   lat                  float64
 60   cc                   object
 61   state                object
 62   county               object
 63   latlng_basis         object
 64   latlng_precision     object
 65   geogscale            object
 66   geogcomments         object
 67   paleomodel           object
 68   geoplate             object
 69   paleoage             object
 70   paleolng             float64
 71   paleolat             float64
 72   paleomodel2          object
 73   geoplate2            object
 74   paleoage2            object
 75   paleolng2            float64
 76   paleolat2            float64
 77   paleomodel3          object
 78   geoplate3            object
 79   paleoage3            object
 80   paleolng3            float64
 81   paleolat3            float64
 82   formation            object
 83   stratgroup           object
 84   member               object
 85   formation.1          object
 86   stratgroup.1         object
 87   member.1             object
 88   stratscale           object
 89   zone                 object
 90   localsection         object
 91   localbed             object
 92   localbedunit         object
 93   localorder           object
 94   regionalsection      object
 95   regionalbed          object
 96   regionalbedunit      object
 97   regionalorder        object
 98   stratcomments        object
 99   lithdescript         object
 100  lithology1           object
 101  lithadj1             object
 102  lithification1       object
 103  minor_lithology1     object
 104  fossilsfrom1         object
 105  lithology2           object
 106  lithadj2             object
 107  lithification2       object
 108  minor_lithology2     object
 109  fossilsfrom2         object
 110  lithdescript.1       object
 111  lithology1.1         object
 112  lithadj1.1           object
 113  lithification1.1     object
 114  minor_lithology1.1   object
 115  fossilsfrom1.1       object
 116  lithology2.1         object
 117  lithadj2.1           object
 118  lithification2.1     object
 119  minor_lithology2.1   object
 120  fossilsfrom2.1       object
 121  environment          object
 122  tectonic_setting     object
 123  geology_comments     object
 124  time_bins            object
 125  time_contain         object
 126  time_major           object
 127  time_buffer          object
 128  time_overlap         object
 129  collection_type      object
 130  collection_methods   object
 131  museum               object
 132  collection_coverage  object
 133  collection_size      object
 134  rock_censused        object
 135  collectors           object
 136  collection_dates     object
 137  collection_comments  object
 138  taxonomy_comments    object
 139  primary_reference    object
 140  authorizer_no        int64
 141  enterer_no           int64
 142  modifier_no          int64
 143  authorizer           object
 144  enterer              object
 145  modifier             object
dtypes: float64(15), int64(7), object(124)
memory usage: 35.5+ MB
None


DataFrame: Antártica
Número de columnas: 146
Información de las columnas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11311 entries, 0 to 11310
Data columns (total 146 columns):
 #    Column               Dtype
---   ------               -----
 0    occurrence_no        int64
 1    record_type          object
 2    reid_no              float64
 3    flags                object
 4    collection_no        int64
 5    accepted_name        object
 6    accepted_attr        float64
 7    accepted_rank        object
 8    accepted_no          float64
 9    early_interval       object
 10   late_interval        object
 11   max_ma               float64
 12   min_ma               float64
 13   ref_author           object
 14   ref_pubyr            int64
 15   reference_no         int64
 16   phylum               object
 17   phylum_no            object
 18   class                object
 19   class_no             object
 20   order                object
 21   order_no             object
 22   family               object
 23   family_no            object
 24   genus                object
 25   genus_no             object
 26   subgenus_no          float64
 27   primary_name         object
 28   primary_reso         object
 29   subgenus_name        object
 30   subgenus_reso        object
 31   species_name         object
 32   species_reso         object
 33   image_no             float64
 34   plant_organ          object
 35   plant_organ2         object
 36   abund_value          object
 37   abund_unit           object
 38   taxon_environment    object
 39   environment_basis    object
 40   motility             object
 41   motility_basis       object
 42   life_habit           object
 43   life_habit_basis     object
 44   vision               object
 45   vision_basis         object
 46   diet                 object
 47   diet_basis           object
 48   reproduction         object
 49   reproduction_basis   object
 50   ontogeny             object
 51   ontogeny_basis       object
 52   ecospace_comments    object
 53   composition          object
 54   architecture         object
 55   thickness            object
 56   reinforcement        object
 57   taphonomy_basis      object
 58   lng                  float64
 59   lat                  float64
 60   cc                   object
 61   state                object
 62   county               object
 63   latlng_basis         object
 64   latlng_precision     object
 65   geogscale            object
 66   geogcomments         object
 67   paleomodel           object
 68   geoplate             object
 69   paleoage             object
 70   paleolng             float64
 71   paleolat             float64
 72   paleomodel2          object
 73   geoplate2            object
 74   paleoage2            object
 75   paleolng2            float64
 76   paleolat2            float64
 77   paleomodel3          object
 78   geoplate3            object
 79   paleoage3            object
 80   paleolng3            float64
 81   paleolat3            float64
 82   formation            object
 83   stratgroup           object
 84   member               object
 85   formation.1          object
 86   stratgroup.1         object
 87   member.1             object
 88   stratscale           object
 89   zone                 object
 90   localsection         object
 91   localbed             object
 92   localbedunit         object
 93   localorder           object
 94   regionalsection      object
 95   regionalbed          float64
 96   regionalbedunit      object
 97   regionalorder        object
 98   stratcomments        object
 99   lithdescript         object
 100  lithology1           object
 101  lithadj1             object
 102  lithification1       object
 103  minor_lithology1     object
 104  fossilsfrom1         object
 105  lithology2           object
 106  lithadj2             object
 107  lithification2       object
 108  minor_lithology2     object
 109  fossilsfrom2         object
 110  lithdescript.1       object
 111  lithology1.1         object
 112  lithadj1.1           object
 113  lithification1.1     object
 114  minor_lithology1.1   object
 115  fossilsfrom1.1       object
 116  lithology2.1         object
 117  lithadj2.1           object
 118  lithification2.1     object
 119  minor_lithology2.1   object
 120  fossilsfrom2.1       object
 121  environment          object
 122  tectonic_setting     object
 123  geology_comments     object
 124  time_bins            object
 125  time_contain         object
 126  time_major           object
 127  time_buffer          object
 128  time_overlap         object
 129  collection_type      object
 130  collection_methods   object
 131  museum               object
 132  collection_coverage  object
 133  collection_size      object
 134  rock_censused        object
 135  collectors           object
 136  collection_dates     object
 137  collection_comments  object
 138  taxonomy_comments    object
 139  primary_reference    object
 140  authorizer_no        int64
 141  enterer_no           int64
 142  modifier_no          int64
 143  authorizer           object
 144  enterer              object
 145  modifier             object
dtypes: float64(16), int64(7), object(123)
memory usage: 12.6+ MB
None

In [55]:
columns = [
    'species_name',
    'occurrence_no',
    'accepted_name',
    'accepted_rank',
    'early_interval',
    'late_interval',
    'max_ma',
    'min_ma',
    'phylum',
    'class',
    'order',
    'family',
    'genus',
    'lat',
    'lng',
    'diet',
    'geogscale',
    'regionalsection',
    'life_habit'
]

df_chile_new = chile_df[columns].copy()
df_argentina_new = argentina_df[columns].copy()
df_antartica_new = antartica_df[columns].copy()

In [57]:
df_chile_new = chile_df.drop_duplicates()
df_argentina_new = argentina_df.drop_duplicates()
df_antartica_new = antartica_df.drop_duplicates()

In [53]:
df_chile_new

,occurrence_no,record_type,reid_no,flags,collection_no,accepted_name,accepted_attr,accepted_rank,accepted_no,early_interval,...,collection_dates,collection_comments,taxonomy_comments,primary_reference,authorizer_no,enterer_no,modifier_no,authorizer,enterer,modifier
0,16417,occ,NaN,NaN,1314,Leionucula,NaN,genus,16064.0,Maastrichtian,...,NaN,NaN,"history: new-508, DJ 1992, replaces old m-24 (...",D. Jablonski and D. M. Raup. 1999. Unpublished...,29,29,4,D. Jablonski,D. Jablonski,J. Alroy
1,16418,occ,NaN,NaN,1314,Nuculana,NaN,genus,16083.0,Maastrichtian,...,NaN,NaN,"history: new-508, DJ 1992, replaces old m-24 (...",D. Jablonski and D. M. Raup. 1999. Unpublished...,29,29,4,D. Jablonski,D. Jablonski,J. Alroy
2,16419,occ,NaN,NaN,1314,Nuculana,NaN,genus,16083.0,Maastrichtian,...,NaN,NaN,"history: new-508, DJ 1992, replaces old m-24 (...",D. Jablonski and D. M. Raup. 1999. Unpublished...,29,29,4,D. Jablonski,D. Jablonski,J. Alroy
3,16420,occ,NaN,NaN,1314,Yoldia,NaN,genus,16145.0,Maastrichtian,...,NaN,NaN,"history: new-508, DJ 1992, replaces old m-24 (...",D. Jablonski and D. M. Raup. 1999. Unpublished...,29,29,4,D. Jablonski,D. Jablonski,J. Alroy
4,16421,occ,NaN,NaN,1314,Neiloides,NaN,genus,16079.0,Maastrichtian,...,NaN,NaN,"history: new-508, DJ 1992, replaces old m-24 (...",D. Jablonski and D. M. Raup. 1999. Unpublished...,29,29,4,D. Jablonski,D. Jablonski,J. Alroy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9476,1659402,occ,NaN,NaN,235517,Ostrea,NaN,genus,16870.0,Turonian,...,NaN,NaN,NaN,"O. Wilckens. 1907. Die Lamellibrachiaten, Gas...",166,1010,0,M. Clapham,J. Fearon,NaN
9477,1659403,occ,NaN,NaN,235517,Cucullaea antarctica,NaN,species,493883.0,Turonian,...,NaN,NaN,NaN,"O. Wilckens. 1907. Die Lamellibrachiaten, Gas...",166,1010,0,M. Clapham,J. Fearon,NaN
9478,1659404,occ,NaN,NaN,235517,Nucula,NaN,genus,16082.0,Turonian,...,NaN,NaN,NaN,"O. Wilckens. 1907. Die Lamellibrachiaten, Gas...",166,1010,0,M. Clapham,J. Fearon,NaN
9479,1660104,occ,NaN,NaN,235648,Micrauchenia saladensis,NaN,species,494711.0,Tortonian,...,2005,Holotype is stored in the Vertebrate Paleontol...,NaN,"H. P. Püschel, J. Alarcón-Muñoz, and S. Sot...",18,1218,0,M. Uhen,W. Worrell,NaN
9480,1662256,occ,NaN,NaN,230991,Tracheophyta,NaN,superphylum,55150.0,Early Maastrichtian,...,2013,NaN,NaN,"J. Alarcón-Muñoz, A. O. Vargas, and H. P. Püsc...",14,14,14,M. Carrano,M. Carrano,M. Carrano