In [51]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt 
import pyarrow.parquet as pq
import pyarrow as pa
import os

In [52]:
chile_df = pd.read_csv('data/chile.csv',  low_memory=False)
argentina_df = pd.read_csv('data/argentina.csv',  low_memory=False)
antartica_df = pd.read_csv('data/antartica.csv',  low_memory=False)

In [53]:
#info que muestre todos los datos 
chile_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9481 entries, 0 to 9480
Data columns (total 146 columns):
 #    Column               Dtype
---   ------               -----
 0    occurrence_no        int64
 1    record_type          object
 2    reid_no              float64
 3    flags                object
 4    collection_no        int64
 5    accepted_name        object
 6    accepted_attr        float64
 7    accepted_rank        object
 8    accepted_no          float64
 9    early_interval       object
 10   late_interval        object
 11   max_ma               float64
 12   min_ma               float64
 13   ref_author           object
 14   ref_pubyr            int64
 15   reference_no         int64
 16   phylum               object
 17   phylum_no            object
 18   class                object
 19   class_no             object
 20   order                object
 21   order_no             object
 22   family               object
 23   family_no            object
 24   genus                object
 25   genus_no             object
 26   subgenus_no          float64
 27   primary_name         object
 28   primary_reso         object
 29   subgenus_name        object
 30   subgenus_reso        object
 31   species_name         object
 32   species_reso         object
 33   image_no             float64
 34   plant_organ          object
 35   plant_organ2         float64
 36   abund_value          object
 37   abund_unit           object
 38   taxon_environment    object
 39   environment_basis    object
 40   motility             object
 41   motility_basis       object
 42   life_habit           object
 43   life_habit_basis     object
 44   vision               object
 45   vision_basis         object
 46   diet                 object
 47   diet_basis           object
 48   reproduction         object
 49   reproduction_basis   object
 50   ontogeny             object
 51   ontogeny_basis       object
 52   ecospace_comments    object
 53   composition          object
 54   architecture         object
 55   thickness            object
 56   reinforcement        object
 57   taphonomy_basis      object
 58   lng                  float64
 59   lat                  float64
 60   cc                   object
 61   state                object
 62   county               object
 63   latlng_basis         object
 64   latlng_precision     object
 65   geogscale            object
 66   geogcomments         object
 67   paleomodel           object
 68   geoplate             object
 69   paleoage             object
 70   paleolng             float64
 71   paleolat             float64
 72   paleomodel2          object
 73   geoplate2            object
 74   paleoage2            object
 75   paleolng2            float64
 76   paleolat2            float64
 77   paleomodel3          object
 78   geoplate3            object
 79   paleoage3            object
 80   paleolng3            float64
 81   paleolat3            float64
 82   formation            object
 83   stratgroup           object
 84   member               object
 85   formation.1          object
 86   stratgroup.1         object
 87   member.1             object
 88   stratscale           object
 89   zone                 object
 90   localsection         object
 91   localbed             object
 92   localbedunit         object
 93   localorder           object
 94   regionalsection      float64
 95   regionalbed          float64
 96   regionalbedunit      float64
 97   regionalorder        float64
 98   stratcomments        object
 99   lithdescript         object
 100  lithology1           object
 101  lithadj1             object
 102  lithification1       object
 103  minor_lithology1     object
 104  fossilsfrom1         object
 105  lithology2           object
 106  lithadj2             object
 107  lithification2       object
 108  minor_lithology2     object
 109  fossilsfrom2         object
 110  lithdescript.1       object
 111  lithology1.1         object
 112  lithadj1.1           object
 113  lithification1.1     object
 114  minor_lithology1.1   object
 115  fossilsfrom1.1       object
 116  lithology2.1         object
 117  lithadj2.1           object
 118  lithification2.1     object
 119  minor_lithology2.1   object
 120  fossilsfrom2.1       object
 121  environment          object
 122  tectonic_setting     object
 123  geology_comments     object
 124  time_bins            object
 125  time_contain         object
 126  time_major           object
 127  time_buffer          object
 128  time_overlap         object
 129  collection_type      object
 130  collection_methods   object
 131  museum               object
 132  collection_coverage  object
 133  collection_size      object
 134  rock_censused        object
 135  collectors           object
 136  collection_dates     object
 137  collection_comments  object
 138  taxonomy_comments    object
 139  primary_reference    object
 140  authorizer_no        int64
 141  enterer_no           int64
 142  modifier_no          int64
 143  authorizer           object
 144  enterer              object
 145  modifier             object
dtypes: float64(20), int64(7), object(119)
memory usage: 10.6+ MB

In [54]:
argentina_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31881 entries, 0 to 31880
Data columns (total 146 columns):
 #    Column               Dtype
---   ------               -----
 0    occurrence_no        int64
 1    record_type          object
 2    reid_no              float64
 3    flags                object
 4    collection_no        int64
 5    accepted_name        object
 6    accepted_attr        float64
 7    accepted_rank        object
 8    accepted_no          float64
 9    early_interval       object
 10   late_interval        object
 11   max_ma               float64
 12   min_ma               float64
 13   ref_author           object
 14   ref_pubyr            int64
 15   reference_no         int64
 16   phylum               object
 17   phylum_no            object
 18   class                object
 19   class_no             object
 20   order                object
 21   order_no             object
 22   family               object
 23   family_no            object
 24   genus                object
 25   genus_no             object
 26   subgenus_no          float64
 27   primary_name         object
 28   primary_reso         object
 29   subgenus_name        object
 30   subgenus_reso        object
 31   species_name         object
 32   species_reso         object
 33   image_no             float64
 34   plant_organ          object
 35   plant_organ2         object
 36   abund_value          object
 37   abund_unit           object
 38   taxon_environment    object
 39   environment_basis    object
 40   motility             object
 41   motility_basis       object
 42   life_habit           object
 43   life_habit_basis     object
 44   vision               object
 45   vision_basis         object
 46   diet                 object
 47   diet_basis           object
 48   reproduction         object
 49   reproduction_basis   object
 50   ontogeny             object
 51   ontogeny_basis       object
 52   ecospace_comments    object
 53   composition          object
 54   architecture         object
 55   thickness            object
 56   reinforcement        object
 57   taphonomy_basis      object
 58   lng                  float64
 59   lat                  float64
 60   cc                   object
 61   state                object
 62   county               object
 63   latlng_basis         object
 64   latlng_precision     object
 65   geogscale            object
 66   geogcomments         object
 67   paleomodel           object
 68   geoplate             object
 69   paleoage             object
 70   paleolng             float64
 71   paleolat             float64
 72   paleomodel2          object
 73   geoplate2            object
 74   paleoage2            object
 75   paleolng2            float64
 76   paleolat2            float64
 77   paleomodel3          object
 78   geoplate3            object
 79   paleoage3            object
 80   paleolng3            float64
 81   paleolat3            float64
 82   formation            object
 83   stratgroup           object
 84   member               object
 85   formation.1          object
 86   stratgroup.1         object
 87   member.1             object
 88   stratscale           object
 89   zone                 object
 90   localsection         object
 91   localbed             object
 92   localbedunit         object
 93   localorder           object
 94   regionalsection      object
 95   regionalbed          object
 96   regionalbedunit      object
 97   regionalorder        object
 98   stratcomments        object
 99   lithdescript         object
 100  lithology1           object
 101  lithadj1             object
 102  lithification1       object
 103  minor_lithology1     object
 104  fossilsfrom1         object
 105  lithology2           object
 106  lithadj2             object
 107  lithification2       object
 108  minor_lithology2     object
 109  fossilsfrom2         object
 110  lithdescript.1       object
 111  lithology1.1         object
 112  lithadj1.1           object
 113  lithification1.1     object
 114  minor_lithology1.1   object
 115  fossilsfrom1.1       object
 116  lithology2.1         object
 117  lithadj2.1           object
 118  lithification2.1     object
 119  minor_lithology2.1   object
 120  fossilsfrom2.1       object
 121  environment          object
 122  tectonic_setting     object
 123  geology_comments     object
 124  time_bins            object
 125  time_contain         object
 126  time_major           object
 127  time_buffer          object
 128  time_overlap         object
 129  collection_type      object
 130  collection_methods   object
 131  museum               object
 132  collection_coverage  object
 133  collection_size      object
 134  rock_censused        object
 135  collectors           object
 136  collection_dates     object
 137  collection_comments  object
 138  taxonomy_comments    object
 139  primary_reference    object
 140  authorizer_no        int64
 141  enterer_no           int64
 142  modifier_no          int64
 143  authorizer           object
 144  enterer              object
 145  modifier             object
dtypes: float64(15), int64(7), object(124)
memory usage: 35.5+ MB

In [55]:
antartica_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11311 entries, 0 to 11310
Data columns (total 146 columns):
 #    Column               Dtype
---   ------               -----
 0    occurrence_no        int64
 1    record_type          object
 2    reid_no              float64
 3    flags                object
 4    collection_no        int64
 5    accepted_name        object
 6    accepted_attr        float64
 7    accepted_rank        object
 8    accepted_no          float64
 9    early_interval       object
 10   late_interval        object
 11   max_ma               float64
 12   min_ma               float64
 13   ref_author           object
 14   ref_pubyr            int64
 15   reference_no         int64
 16   phylum               object
 17   phylum_no            object
 18   class                object
 19   class_no             object
 20   order                object
 21   order_no             object
 22   family               object
 23   family_no            object
 24   genus                object
 25   genus_no             object
 26   subgenus_no          float64
 27   primary_name         object
 28   primary_reso         object
 29   subgenus_name        object
 30   subgenus_reso        object
 31   species_name         object
 32   species_reso         object
 33   image_no             float64
 34   plant_organ          object
 35   plant_organ2         object
 36   abund_value          object
 37   abund_unit           object
 38   taxon_environment    object
 39   environment_basis    object
 40   motility             object
 41   motility_basis       object
 42   life_habit           object
 43   life_habit_basis     object
 44   vision               object
 45   vision_basis         object
 46   diet                 object
 47   diet_basis           object
 48   reproduction         object
 49   reproduction_basis   object
 50   ontogeny             object
 51   ontogeny_basis       object
 52   ecospace_comments    object
 53   composition          object
 54   architecture         object
 55   thickness            object
 56   reinforcement        object
 57   taphonomy_basis      object
 58   lng                  float64
 59   lat                  float64
 60   cc                   object
 61   state                object
 62   county               object
 63   latlng_basis         object
 64   latlng_precision     object
 65   geogscale            object
 66   geogcomments         object
 67   paleomodel           object
 68   geoplate             object
 69   paleoage             object
 70   paleolng             float64
 71   paleolat             float64
 72   paleomodel2          object
 73   geoplate2            object
 74   paleoage2            object
 75   paleolng2            float64
 76   paleolat2            float64
 77   paleomodel3          object
 78   geoplate3            object
 79   paleoage3            object
 80   paleolng3            float64
 81   paleolat3            float64
 82   formation            object
 83   stratgroup           object
 84   member               object
 85   formation.1          object
 86   stratgroup.1         object
 87   member.1             object
 88   stratscale           object
 89   zone                 object
 90   localsection         object
 91   localbed             object
 92   localbedunit         object
 93   localorder           object
 94   regionalsection      object
 95   regionalbed          float64
 96   regionalbedunit      object
 97   regionalorder        object
 98   stratcomments        object
 99   lithdescript         object
 100  lithology1           object
 101  lithadj1             object
 102  lithification1       object
 103  minor_lithology1     object
 104  fossilsfrom1         object
 105  lithology2           object
 106  lithadj2             object
 107  lithification2       object
 108  minor_lithology2     object
 109  fossilsfrom2         object
 110  lithdescript.1       object
 111  lithology1.1         object
 112  lithadj1.1           object
 113  lithification1.1     object
 114  minor_lithology1.1   object
 115  fossilsfrom1.1       object
 116  lithology2.1         object
 117  lithadj2.1           object
 118  lithification2.1     object
 119  minor_lithology2.1   object
 120  fossilsfrom2.1       object
 121  environment          object
 122  tectonic_setting     object
 123  geology_comments     object
 124  time_bins            object
 125  time_contain         object
 126  time_major           object
 127  time_buffer          object
 128  time_overlap         object
 129  collection_type      object
 130  collection_methods   object
 131  museum               object
 132  collection_coverage  object
 133  collection_size      object
 134  rock_censused        object
 135  collectors           object
 136  collection_dates     object
 137  collection_comments  object
 138  taxonomy_comments    object
 139  primary_reference    object
 140  authorizer_no        int64
 141  enterer_no           int64
 142  modifier_no          int64
 143  authorizer           object
 144  enterer              object
 145  modifier             object
dtypes: float64(16), int64(7), object(123)
memory usage: 12.6+ MB

In [56]:
pd.set_option('display.max_columns', None)
chile_df.head()

,occurrence_no,record_type,reid_no,flags,collection_no,accepted_name,accepted_attr,accepted_rank,accepted_no,early_interval,late_interval,max_ma,min_ma,ref_author,ref_pubyr,reference_no,phylum,phylum_no,class,class_no,order,order_no,family,family_no,genus,genus_no,subgenus_no,primary_name,primary_reso,subgenus_name,subgenus_reso,species_name,species_reso,image_no,plant_organ,plant_organ2,abund_value,abund_unit,taxon_environment,environment_basis,motility,motility_basis,life_habit,life_habit_basis,vision,vision_basis,diet,diet_basis,reproduction,reproduction_basis,ontogeny,ontogeny_basis,ecospace_comments,composition,architecture,thickness,reinforcement,taphonomy_basis,lng,lat,cc,state,county,latlng_basis,latlng_precision,geogscale,geogcomments,paleomodel,geoplate,paleoage,paleolng,paleolat,paleomodel2,geoplate2,paleoage2,paleolng2,paleolat2,paleomodel3,geoplate3,paleoage3,paleolng3,paleolat3,formation,stratgroup,member,formation.1,stratgroup.1,member.1,stratscale,zone,localsection,localbed,localbedunit,localorder,regionalsection,regionalbed,regionalbedunit,regionalorder,stratcomments,lithdescript,lithology1,lithadj1,lithification1,minor_lithology1,fossilsfrom1,lithology2,lithadj2,lithification2,minor_lithology2,fossilsfrom2,lithdescript.1,lithology1.1,lithadj1.1,lithification1.1,minor_lithology1.1,fossilsfrom1.1,lithology2.1,lithadj2.1,lithification2.1,minor_lithology2.1,fossilsfrom2.1,environment,tectonic_setting,geology_comments,time_bins,time_contain,time_major,time_buffer,time_overlap,collection_type,collection_methods,museum,collection_coverage,collection_size,rock_censused,collectors,collection_dates,collection_comments,taxonomy_comments,primary_reference,authorizer_no,enterer_no,modifier_no,authorizer,enterer,modifier
0,16417,occ,NaN,NaN,1314,Leionucula,NaN,genus,16064.0,Maastrichtian,NaN,72.1,66.0,Jablonski and Raup,1999,40,Mollusca,7805,Bivalvia,16005,Nuculida,16006,Nuculidae,61454,Leionucula,16064,NaN,Leionucula,NaN,NaN,NaN,ceciliana,NaN,347.0,NaN,NaN,NaN,NaN,"coastal,inner shelf,outer shelf,oceanic",Nuculidae,facultatively mobile,Nuculidae,infaunal,Nuculidae,blind,Bivalvia,"deposit feeder, suspension feeder",Nuculidae,NaN,NaN,accretion,Nuculidae,NaN,aragonite,NaN,thin,minor ribbing,Nuculidae,-73.0,-37.0,CL,NaN,NaN,NaN,degrees,basin,Chile (Central),gplates,291,mid,-58.83,-36.23,scotese,291,mid,-61.11,-38.86,seton,291,mid,-56.61,-39.51,NaN,NaN,NaN,NaN,NaN,NaN,formation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maastrichtian,Maastrichtian,Maastrichtian,Maastrichtian,Maastrichtian,NaN,NaN,NaN,some macrofossils,NaN,NaN,NaN,NaN,NaN,"history: new-508, DJ 1992, replaces old m-24 (...",D. Jablonski and D. M. Raup. 1999. Unpublished...,29,29,4,D. Jablonski,D. Jablonski,J. Alroy
1,16418,occ,NaN,NaN,1314,Nuculana,NaN,genus,16083.0,Maastrichtian,NaN,72.1,66.0,Jablonski and Raup,1999,40,Mollusca,7805,Bivalvia,16005,Nuculanida,97194,Nuculanidae,61453,Nuculana,16083,NaN,Nuculana,NaN,NaN,NaN,amuriensis,NaN,347.0,NaN,NaN,NaN,NaN,"coastal,inner shelf,outer shelf,oceanic",Nuculanidae,facultatively mobile,Nuculanidae,infaunal,Nuculanidae,blind,Bivalvia,"deposit feeder, suspension feeder",Nuculanidae,NaN,NaN,accretion,Nuculanidae,NaN,aragonite,NaN,thin,minor ribbing,Nuculanidae,-73.0,-37.0,CL,NaN,NaN,NaN,degrees,basin,Chile (Central),gplates,291,mid,-58.83,-36.23,scotese,291,mid,-61.11,-38.86,seton,291,mid,-56.61,-39.51,NaN,NaN,NaN,NaN,NaN,NaN,formation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maastrichtian,Maastrichtian,Maastrichtian,Maastrichtian,Maastrichtian,NaN,NaN,NaN,some macrofossils,NaN,NaN,NaN,NaN,NaN,"history: new-508, DJ 1992, replaces old m-24 (...",D. Jablonski and D. M. Raup. 1999. Unpublished...,29,29,4,D. Jablonski,D. Jablonski,J. Alroy
2,16419,occ,NaN,NaN,1314,Nuculana,NaN,genus,16083.0,Maastrichtian,NaN,72.1,66.0,Jablonski and Raup,1999,40,Mollusca,7805,Bivalvia,16005,Nuculanida,97194,Nuculanidae,61453,Nuculana,16083,NaN,Nuculana,NaN,NaN,NaN,cuneiformis,NaN,347.0,NaN,NaN,NaN,NaN,"coastal,inner shelf,outer shelf,oceanic",Nuculanidae,facultatively mobile,Nuculanidae,infaunal,Nuculanidae,blind,Bivalvia,"deposit feeder, suspension feeder",Nuculanidae,NaN,NaN,accretion,Nuculanidae,NaN,aragonite,NaN,thin,minor ribbing,Nuculanidae,-73.0,-37.0,CL,NaN,NaN,NaN,degrees,basin,Chile (Central),gplates,291,mid,-58.83,-36.23,scotese,291,mid,-61.11,-38.86,seton,291,mid,-56.61,-39.51,NaN,NaN,NaN,NaN,NaN,NaN,formation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maastrichtian,Maastrichtian,Maastrichtian,Maastrichtian,Maastrichtian,NaN,NaN,NaN,some macrofossils,NaN,NaN,NaN,NaN,NaN,"history: new-508, DJ 1992, replaces old m-24 (...",D. Jablonski and D. M. Raup. 1999. Unpublished...,29,29,4,D. Jablonski,D. Jablonski,J. Alroy
3,16420,occ,NaN,NaN,1314,Yoldia,NaN,genus,16145.0,Maastrichtian,NaN,72.1,66.0,Jablonski and Raup,1999,40,Mollusca,7805,Bivalvia,16005,Nuculanida,97194,Yoldiidae,86084,Yoldia,16145,NaN,Yoldia,NaN,NaN,NaN,levitestata,NaN,347.0,NaN,NaN,NaN,NaN,"inner shelf,outer shelf,oceanic",Yoldiidae,facultatively mobile,Yoldia,infaunal,Yoldia,blind,Bivalvia,deposit feeder,Yoldia,NaN,NaN,accretion,Yoldiidae,"LIFE HISTORY: IS, MA, UN, DU/DS according to T...",aragonite,NaN,thin,minor ribbing,Yoldiidae,-73.0,-37.0,CL,NaN,NaN,NaN,degrees,basin,Chile (Central),gplates,291,mid,-58.83,-36.23,scotese,291,mid,-61.11,-38.86,seton,291,mid,-56.61,-39.51,NaN,NaN,NaN,NaN,NaN,NaN,formation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maastrichtian,Maastrichtian,Maastrichtian,Maastrichtian,Maastrichtian,NaN,NaN,NaN,some macrofossils,NaN,NaN,NaN,NaN,NaN,"history: new-508, DJ 1992, replaces old m-24 (...",D. Jablonski and D. M. Raup. 1999. Unpublished...,29,29,4,D. Jablonski,D. Jablonski,J. Alroy
4,16421,occ,NaN,NaN,1314,Neiloides,NaN,genus,16079.0,Maastrichtian,NaN,72.1,66.0,Jablonski and Raup,1999,40,Mollusca,7805,Bivalvia,16005,Nuculida,16006,NO_FAMILY_SPECIFIED,NF,Neiloides,16079,NaN,Neiloides,NaN,NaN,NaN,pencana,NaN,347.0,NaN,NaN,NaN,NaN,NaN,NaN,slow-moving,Nuculida,infaunal,Nuculida,blind,Bivalvia,deposit feeder,Nuculida,NaN,NaN,NaN,NaN,NaN,aragonite,NaN,NaN,NaN,Bivalvia,-73.0,-37.0,CL,NaN,NaN,NaN,degrees,basin,Chile (Central),gplates,291,mid,-58.83,-36.23,scotese,291,mid,-61.11,-38.86,seton,291,mid,-56.61,-39.51,NaN,NaN,NaN,NaN,NaN,NaN,formation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Maastrichtian,Maastrichtian,Maastrichtian,Maastrichtian,Maastrichtian,NaN,NaN,NaN,some macrofossils,NaN,NaN,NaN,NaN,NaN,"history: new-508, DJ 1992, replaces old m-24 (...",D. Jablonski and D. M. Raup. 1999. Unpublished...,29,29,4,D. Jablonski,D. Jablonski,J. Alroy

Como grupo fuimos viendo manualmente que columnas nos servirian para poder responder las preguntas planteadas en la propuesta inicial, y llegamos a un concenso de elegir las siguientes 19 columnas como base para poder responder estas.

In [70]:
columns = [
    'species_name',
    'occurrence_no',
    'accepted_name',
    'accepted_rank',
    'early_interval',
    'late_interval',
    'max_ma',
    'min_ma',
    'phylum',
    'class',
    'order',
    'family',
    'genus',
    'lat',
    'lng',
    'diet',
    'geogscale',
    'life_habit',
    "environment",
    "taxon_environment",
    "primary_name"
]

#Hacer que los df solo tengan las columnas que necesitamos
chile_df = chile_df[columns].copy()
argentina_df = argentina_df[columns].copy()
antartica_df = antartica_df[columns].copy()

In [58]:
chile_df

,species_name,occurrence_no,accepted_name,accepted_rank,early_interval,late_interval,max_ma,min_ma,phylum,class,order,family,genus,lat,lng,diet,geogscale,regionalsection,life_habit,environment,taxon_environment,primary_name
0,ceciliana,16417,Leionucula,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculida,Nuculidae,Leionucula,-37.000000,-73.000000,"deposit feeder, suspension feeder",basin,NaN,infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Leionucula
1,amuriensis,16418,Nuculana,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Nuculana,-37.000000,-73.000000,"deposit feeder, suspension feeder",basin,NaN,infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Nuculana
2,cuneiformis,16419,Nuculana,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Nuculana,-37.000000,-73.000000,"deposit feeder, suspension feeder",basin,NaN,infaunal,NaN,"coastal,inner shelf,outer shelf,oceanic",Nuculana
3,levitestata,16420,Yoldia,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculanida,Yoldiidae,Yoldia,-37.000000,-73.000000,deposit feeder,basin,NaN,infaunal,NaN,"inner shelf,outer shelf,oceanic",Yoldia
4,pencana,16421,Neiloides,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculida,NO_FAMILY_SPECIFIED,Neiloides,-37.000000,-73.000000,deposit feeder,basin,NaN,infaunal,NaN,NaN,Neiloides
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9476,sp.,1659402,Ostrea,genus,Turonian,Campanian,93.90,72.100,Mollusca,Bivalvia,Ostreida,Ostreidae,Ostrea,-50.884998,-72.625000,suspension feeder,NaN,NaN,epifaunal,basinal (siliciclastic),"hypersaline,marine,brackish",Ostrea
9477,antarctica,1659403,Cucullaea antarctica,species,Turonian,Campanian,93.90,72.100,Mollusca,Bivalvia,Arcida,Cucullaeidae,Cucullaea,-50.884998,-72.625000,suspension feeder,NaN,NaN,infaunal,basinal (siliciclastic),NaN,Cucullaea
9478,sp.,1659404,Nucula,genus,Turonian,Campanian,93.90,72.100,Mollusca,Bivalvia,Nuculida,Nuculidae,Nucula,-50.884998,-72.625000,"deposit feeder, suspension feeder",NaN,NaN,infaunal,basinal (siliciclastic),"coastal,inner shelf,outer shelf,oceanic",Nucula
9479,saladensis,1660104,Micrauchenia saladensis,species,Tortonian,Messinian,11.63,5.333,Chordata,Mammalia,Panameriungulata,Macraucheniidae,Micrauchenia,-27.684723,-70.949997,herbivore,NaN,NaN,scansorial,coastal indet.,terrestrial,Micrauchenia
9480,indet.,1662256,Tracheophyta,superphylum,Early Maastrichtian,NaN,72.10,66.000,Tracheophyta,NaN,NaN,NaN,NaN,-50.711666,-72.541389,NaN,outcrop,NaN,NaN,coarse channel fill,NaN,Tracheophyta

In [60]:
obtener_duplicados_chile = chile_df.duplicated(keep=False)
datos_duplicados_chile = chile_df[obtener_duplicados_chile]
datos_duplicados_chile

Empty DataFrame
Columns: [species_name, occurrence_no, accepted_name, accepted_rank, early_interval, late_interval, max_ma, min_ma, phylum, class, order, family, genus, lat, lng, diet, geogscale, regionalsection, life_habit, environment, taxon_environment, primary_name]
Index: []

In [61]:
obtener_duplicados_argentina = chile_df.duplicated(keep=False)
datos_duplicados_argentina = chile_df[obtener_duplicados_argentina]
datos_duplicados_argentina

Empty DataFrame
Columns: [species_name, occurrence_no, accepted_name, accepted_rank, early_interval, late_interval, max_ma, min_ma, phylum, class, order, family, genus, lat, lng, diet, geogscale, regionalsection, life_habit, environment, taxon_environment, primary_name]
Index: []

In [69]:
obtener_duplicados_antartica = antartica_df.duplicated(keep=False)
datos_duplicados_antartica = antartica_df[obtener_duplicados_antartica]
datos_duplicados_antartica

Empty DataFrame
Columns: [species_name, occurrence_no, accepted_name, accepted_rank, early_interval, late_interval, max_ma, min_ma, phylum, class, order, family, genus, lat, lng, diet, geogscale, regionalsection, life_habit, environment, taxon_environment, primary_name]
Index: []

In [63]:
chile_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9481 entries, 0 to 9480
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species_name       9481 non-null   object
 1   occurrence_no      9481 non-null   int64
 2   accepted_name      9343 non-null   object
 3   accepted_rank      9343 non-null   object
 4   early_interval     9481 non-null   object
 5   late_interval      1605 non-null   object
 6   max_ma             9481 non-null   float64
 7   min_ma             9481 non-null   float64
 8   phylum             9337 non-null   object
 9   class              9292 non-null   object
 10  order              9123 non-null   object
 11  family             8914 non-null   object
 12  genus              8574 non-null   object
 13  lat                9481 non-null   float64
 14  lng                9481 non-null   float64
 15  diet               8749 non-null   object
 16  geogscale          6426 non-null   object
 17  regionalsection    0 non-null      float64
 18  life_habit         8743 non-null   object
 19  environment        9402 non-null   object
 20  taxon_environment  5847 non-null   object
 21  primary_name       9481 non-null   object
dtypes: float64(5), int64(1), object(16)
memory usage: 1.6+ MB