In [134]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import pyarrow.parquet as pq
import pyarrow as pa
import os

In [136]:
chile_df = pd.read_csv('data/chile.csv',  low_memory=False)
argentina_df = pd.read_csv('data/argentina.csv',  low_memory=False)
antartica_df = pd.read_csv('data/antartica.csv',  low_memory=False)

dataframes = {
    'Chile': chile_df,
    'Argentina': argentina_df,
    'Antártica': antartica_df
}

for name, df in dataframes.items():
    print(f"DataFrame: {name}")
    print(f"Número de columnas: {len(df.columns)}")
    print("Información de las columnas:")
    print(df.info(5))
    print("\n")

DataFrame: Chile
Número de columnas: 146
Información de las columnas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9481 entries, 0 to 9480
Data columns (total 146 columns):
 #    Column               Dtype
---   ------               -----
 0    occurrence_no        int64
 1    record_type          object
 2    reid_no              float64
 3    flags                object
 4    collection_no        int64
 5    accepted_name        object
 6    accepted_attr        float64
 7    accepted_rank        object
 8    accepted_no          float64
 9    early_interval       object
 10   late_interval        object
 11   max_ma               float64
 12   min_ma               float64
 13   ref_author           object
 14   ref_pubyr            int64
 15   reference_no         int64
 16   phylum               object
 17   phylum_no            object
 18   class                object
 19   class_no             object
 20   order                object
 21   order_no             object
 22   family               object
 23   family_no            object
 24   genus                object
 25   genus_no             object
 26   subgenus_no          float64
 27   primary_name         object
 28   primary_reso         object
 29   subgenus_name        object
 30   subgenus_reso        object
 31   species_name         object
 32   species_reso         object
 33   image_no             float64
 34   plant_organ          object
 35   plant_organ2         float64
 36   abund_value          object
 37   abund_unit           object
 38   taxon_environment    object
 39   environment_basis    object
 40   motility             object
 41   motility_basis       object
 42   life_habit           object
 43   life_habit_basis     object
 44   vision               object
 45   vision_basis         object
 46   diet                 object
 47   diet_basis           object
 48   reproduction         object
 49   reproduction_basis   object
 50   ontogeny             object
 51   ontogeny_basis       object
 52   ecospace_comments    object
 53   composition          object
 54   architecture         object
 55   thickness            object
 56   reinforcement        object
 57   taphonomy_basis      object
 58   lng                  float64
 59   lat                  float64
 60   cc                   object
 61   state                object
 62   county               object
 63   latlng_basis         object
 64   latlng_precision     object
 65   geogscale            object
 66   geogcomments         object
 67   paleomodel           object
 68   geoplate             object
 69   paleoage             object
 70   paleolng             float64
 71   paleolat             float64
 72   paleomodel2          object
 73   geoplate2            object
 74   paleoage2            object
 75   paleolng2            float64
 76   paleolat2            float64
 77   paleomodel3          object
 78   geoplate3            object
 79   paleoage3            object
 80   paleolng3            float64
 81   paleolat3            float64
 82   formation            object
 83   stratgroup           object
 84   member               object
 85   formation.1          object
 86   stratgroup.1         object
 87   member.1             object
 88   stratscale           object
 89   zone                 object
 90   localsection         object
 91   localbed             object
 92   localbedunit         object
 93   localorder           object
 94   regionalsection      float64
 95   regionalbed          float64
 96   regionalbedunit      float64
 97   regionalorder        float64
 98   stratcomments        object
 99   lithdescript         object
 100  lithology1           object
 101  lithadj1             object
 102  lithification1       object
 103  minor_lithology1     object
 104  fossilsfrom1         object
 105  lithology2           object
 106  lithadj2             object
 107  lithification2       object
 108  minor_lithology2     object
 109  fossilsfrom2         object
 110  lithdescript.1       object
 111  lithology1.1         object
 112  lithadj1.1           object
 113  lithification1.1     object
 114  minor_lithology1.1   object
 115  fossilsfrom1.1       object
 116  lithology2.1         object
 117  lithadj2.1           object
 118  lithification2.1     object
 119  minor_lithology2.1   object
 120  fossilsfrom2.1       object
 121  environment          object
 122  tectonic_setting     object
 123  geology_comments     object
 124  time_bins            object
 125  time_contain         object
 126  time_major           object
 127  time_buffer          object
 128  time_overlap         object
 129  collection_type      object
 130  collection_methods   object
 131  museum               object
 132  collection_coverage  object
 133  collection_size      object
 134  rock_censused        object
 135  collectors           object
 136  collection_dates     object
 137  collection_comments  object
 138  taxonomy_comments    object
 139  primary_reference    object
 140  authorizer_no        int64
 141  enterer_no           int64
 142  modifier_no          int64
 143  authorizer           object
 144  enterer              object
 145  modifier             object
dtypes: float64(20), int64(7), object(119)
memory usage: 10.6+ MB
None


DataFrame: Argentina
Número de columnas: 146
Información de las columnas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31881 entries, 0 to 31880
Data columns (total 146 columns):
 #    Column               Dtype
---   ------               -----
 0    occurrence_no        int64
 1    record_type          object
 2    reid_no              float64
 3    flags                object
 4    collection_no        int64
 5    accepted_name        object
 6    accepted_attr        float64
 7    accepted_rank        object
 8    accepted_no          float64
 9    early_interval       object
 10   late_interval        object
 11   max_ma               float64
 12   min_ma               float64
 13   ref_author           object
 14   ref_pubyr            int64
 15   reference_no         int64
 16   phylum               object
 17   phylum_no            object
 18   class                object
 19   class_no             object
 20   order                object
 21   order_no             object
 22   family               object
 23   family_no            object
 24   genus                object
 25   genus_no             object
 26   subgenus_no          float64
 27   primary_name         object
 28   primary_reso         object
 29   subgenus_name        object
 30   subgenus_reso        object
 31   species_name         object
 32   species_reso         object
 33   image_no             float64
 34   plant_organ          object
 35   plant_organ2         object
 36   abund_value          object
 37   abund_unit           object
 38   taxon_environment    object
 39   environment_basis    object
 40   motility             object
 41   motility_basis       object
 42   life_habit           object
 43   life_habit_basis     object
 44   vision               object
 45   vision_basis         object
 46   diet                 object
 47   diet_basis           object
 48   reproduction         object
 49   reproduction_basis   object
 50   ontogeny             object
 51   ontogeny_basis       object
 52   ecospace_comments    object
 53   composition          object
 54   architecture         object
 55   thickness            object
 56   reinforcement        object
 57   taphonomy_basis      object
 58   lng                  float64
 59   lat                  float64
 60   cc                   object
 61   state                object
 62   county               object
 63   latlng_basis         object
 64   latlng_precision     object
 65   geogscale            object
 66   geogcomments         object
 67   paleomodel           object
 68   geoplate             object
 69   paleoage             object
 70   paleolng             float64
 71   paleolat             float64
 72   paleomodel2          object
 73   geoplate2            object
 74   paleoage2            object
 75   paleolng2            float64
 76   paleolat2            float64
 77   paleomodel3          object
 78   geoplate3            object
 79   paleoage3            object
 80   paleolng3            float64
 81   paleolat3            float64
 82   formation            object
 83   stratgroup           object
 84   member               object
 85   formation.1          object
 86   stratgroup.1         object
 87   member.1             object
 88   stratscale           object
 89   zone                 object
 90   localsection         object
 91   localbed             object
 92   localbedunit         object
 93   localorder           object
 94   regionalsection      object
 95   regionalbed          object
 96   regionalbedunit      object
 97   regionalorder        object
 98   stratcomments        object
 99   lithdescript         object
 100  lithology1           object
 101  lithadj1             object
 102  lithification1       object
 103  minor_lithology1     object
 104  fossilsfrom1         object
 105  lithology2           object
 106  lithadj2             object
 107  lithification2       object
 108  minor_lithology2     object
 109  fossilsfrom2         object
 110  lithdescript.1       object
 111  lithology1.1         object
 112  lithadj1.1           object
 113  lithification1.1     object
 114  minor_lithology1.1   object
 115  fossilsfrom1.1       object
 116  lithology2.1         object
 117  lithadj2.1           object
 118  lithification2.1     object
 119  minor_lithology2.1   object
 120  fossilsfrom2.1       object
 121  environment          object
 122  tectonic_setting     object
 123  geology_comments     object
 124  time_bins            object
 125  time_contain         object
 126  time_major           object
 127  time_buffer          object
 128  time_overlap         object
 129  collection_type      object
 130  collection_methods   object
 131  museum               object
 132  collection_coverage  object
 133  collection_size      object
 134  rock_censused        object
 135  collectors           object
 136  collection_dates     object
 137  collection_comments  object
 138  taxonomy_comments    object
 139  primary_reference    object
 140  authorizer_no        int64
 141  enterer_no           int64
 142  modifier_no          int64
 143  authorizer           object
 144  enterer              object
 145  modifier             object
dtypes: float64(15), int64(7), object(124)
memory usage: 35.5+ MB
None


DataFrame: Antártica
Número de columnas: 146
Información de las columnas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11311 entries, 0 to 11310
Data columns (total 146 columns):
 #    Column               Dtype
---   ------               -----
 0    occurrence_no        int64
 1    record_type          object
 2    reid_no              float64
 3    flags                object
 4    collection_no        int64
 5    accepted_name        object
 6    accepted_attr        float64
 7    accepted_rank        object
 8    accepted_no          float64
 9    early_interval       object
 10   late_interval        object
 11   max_ma               float64
 12   min_ma               float64
 13   ref_author           object
 14   ref_pubyr            int64
 15   reference_no         int64
 16   phylum               object
 17   phylum_no            object
 18   class                object
 19   class_no             object
 20   order                object
 21   order_no             object
 22   family               object
 23   family_no            object
 24   genus                object
 25   genus_no             object
 26   subgenus_no          float64
 27   primary_name         object
 28   primary_reso         object
 29   subgenus_name        object
 30   subgenus_reso        object
 31   species_name         object
 32   species_reso         object
 33   image_no             float64
 34   plant_organ          object
 35   plant_organ2         object
 36   abund_value          object
 37   abund_unit           object
 38   taxon_environment    object
 39   environment_basis    object
 40   motility             object
 41   motility_basis       object
 42   life_habit           object
 43   life_habit_basis     object
 44   vision               object
 45   vision_basis         object
 46   diet                 object
 47   diet_basis           object
 48   reproduction         object
 49   reproduction_basis   object
 50   ontogeny             object
 51   ontogeny_basis       object
 52   ecospace_comments    object
 53   composition          object
 54   architecture         object
 55   thickness            object
 56   reinforcement        object
 57   taphonomy_basis      object
 58   lng                  float64
 59   lat                  float64
 60   cc                   object
 61   state                object
 62   county               object
 63   latlng_basis         object
 64   latlng_precision     object
 65   geogscale            object
 66   geogcomments         object
 67   paleomodel           object
 68   geoplate             object
 69   paleoage             object
 70   paleolng             float64
 71   paleolat             float64
 72   paleomodel2          object
 73   geoplate2            object
 74   paleoage2            object
 75   paleolng2            float64
 76   paleolat2            float64
 77   paleomodel3          object
 78   geoplate3            object
 79   paleoage3            object
 80   paleolng3            float64
 81   paleolat3            float64
 82   formation            object
 83   stratgroup           object
 84   member               object
 85   formation.1          object
 86   stratgroup.1         object
 87   member.1             object
 88   stratscale           object
 89   zone                 object
 90   localsection         object
 91   localbed             object
 92   localbedunit         object
 93   localorder           object
 94   regionalsection      object
 95   regionalbed          float64
 96   regionalbedunit      object
 97   regionalorder        object
 98   stratcomments        object
 99   lithdescript         object
 100  lithology1           object
 101  lithadj1             object
 102  lithification1       object
 103  minor_lithology1     object
 104  fossilsfrom1         object
 105  lithology2           object
 106  lithadj2             object
 107  lithification2       object
 108  minor_lithology2     object
 109  fossilsfrom2         object
 110  lithdescript.1       object
 111  lithology1.1         object
 112  lithadj1.1           object
 113  lithification1.1     object
 114  minor_lithology1.1   object
 115  fossilsfrom1.1       object
 116  lithology2.1         object
 117  lithadj2.1           object
 118  lithification2.1     object
 119  minor_lithology2.1   object
 120  fossilsfrom2.1       object
 121  environment          object
 122  tectonic_setting     object
 123  geology_comments     object
 124  time_bins            object
 125  time_contain         object
 126  time_major           object
 127  time_buffer          object
 128  time_overlap         object
 129  collection_type      object
 130  collection_methods   object
 131  museum               object
 132  collection_coverage  object
 133  collection_size      object
 134  rock_censused        object
 135  collectors           object
 136  collection_dates     object
 137  collection_comments  object
 138  taxonomy_comments    object
 139  primary_reference    object
 140  authorizer_no        int64
 141  enterer_no           int64
 142  modifier_no          int64
 143  authorizer           object
 144  enterer              object
 145  modifier             object
dtypes: float64(16), int64(7), object(123)
memory usage: 12.6+ MB
None

Como grupo fuimos viendo manualmente que columnas nos servirian para poder responder las preguntas planteadas en la propuesta inicial, y llegamos a un concenso de elegir las siguientes 19 columnas como base para poder responder estas.

In [138]:
columns = [
    'species_name',
    'occurrence_no',
    'accepted_name',
    'accepted_rank',
    'early_interval',
    'late_interval',
    'max_ma',
    'min_ma',
    'phylum',
    'class',
    'order',
    'family',
    'genus',
    'lat',
    'lng',
    'diet',
    'geogscale',
    'regionalsection',
    'life_habit'
]

df_chile_new = chile_df[columns].copy()
df_argentina_new = argentina_df[columns].copy()
df_antartica_new = antartica_df[columns].copy()

In [139]:
df_chile_new

,species_name,occurrence_no,accepted_name,accepted_rank,early_interval,late_interval,max_ma,min_ma,phylum,class,order,family,genus,lat,lng,diet,geogscale,regionalsection,life_habit
0,ceciliana,16417,Leionucula,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculida,Nuculidae,Leionucula,-37.000000,-73.000000,"deposit feeder, suspension feeder",basin,NaN,infaunal
1,amuriensis,16418,Nuculana,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Nuculana,-37.000000,-73.000000,"deposit feeder, suspension feeder",basin,NaN,infaunal
2,cuneiformis,16419,Nuculana,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Nuculana,-37.000000,-73.000000,"deposit feeder, suspension feeder",basin,NaN,infaunal
3,levitestata,16420,Yoldia,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculanida,Yoldiidae,Yoldia,-37.000000,-73.000000,deposit feeder,basin,NaN,infaunal
4,pencana,16421,Neiloides,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculida,NO_FAMILY_SPECIFIED,Neiloides,-37.000000,-73.000000,deposit feeder,basin,NaN,infaunal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9476,sp.,1659402,Ostrea,genus,Turonian,Campanian,93.90,72.100,Mollusca,Bivalvia,Ostreida,Ostreidae,Ostrea,-50.884998,-72.625000,suspension feeder,NaN,NaN,epifaunal
9477,antarctica,1659403,Cucullaea antarctica,species,Turonian,Campanian,93.90,72.100,Mollusca,Bivalvia,Arcida,Cucullaeidae,Cucullaea,-50.884998,-72.625000,suspension feeder,NaN,NaN,infaunal
9478,sp.,1659404,Nucula,genus,Turonian,Campanian,93.90,72.100,Mollusca,Bivalvia,Nuculida,Nuculidae,Nucula,-50.884998,-72.625000,"deposit feeder, suspension feeder",NaN,NaN,infaunal
9479,saladensis,1660104,Micrauchenia saladensis,species,Tortonian,Messinian,11.63,5.333,Chordata,Mammalia,Panameriungulata,Macraucheniidae,Micrauchenia,-27.684723,-70.949997,herbivore,NaN,NaN,scansorial
9480,indet.,1662256,Tracheophyta,superphylum,Early Maastrichtian,NaN,72.10,66.000,Tracheophyta,NaN,NaN,NaN,NaN,-50.711666,-72.541389,NaN,outcrop,NaN,NaN

In [140]:
obtener_duplicados_chile = df_chile_new.duplicated(keep=False)
datos_duplicados_chile = df_chile_new[obtener_duplicados_chile]
datos_duplicados_chile

Empty DataFrame
Columns: [species_name, occurrence_no, accepted_name, accepted_rank, early_interval, late_interval, max_ma, min_ma, phylum, class, order, family, genus, lat, lng, diet, geogscale, regionalsection, life_habit]
Index: []

In [141]:
obtener_duplicados_argentina = df_argentina_new.duplicated(keep=False)
datos_duplicados_argentina = df_argentina_new[obtener_duplicados_argentina]
datos_duplicados_argentina

Empty DataFrame
Columns: [species_name, occurrence_no, accepted_name, accepted_rank, early_interval, late_interval, max_ma, min_ma, phylum, class, order, family, genus, lat, lng, diet, geogscale, regionalsection, life_habit]
Index: []

In [142]:
obtener_duplicados_antartica = df_antartica_new.duplicated(keep=False)
datos_duplicados_antartica = df_antartica_new[obtener_duplicados_antartica]
datos_duplicados_antartica

Empty DataFrame
Columns: [species_name, occurrence_no, accepted_name, accepted_rank, early_interval, late_interval, max_ma, min_ma, phylum, class, order, family, genus, lat, lng, diet, geogscale, regionalsection, life_habit]
Index: []

In [143]:
df_chile_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9481 entries, 0 to 9480
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   species_name     9481 non-null   object
 1   occurrence_no    9481 non-null   int64
 2   accepted_name    9343 non-null   object
 3   accepted_rank    9343 non-null   object
 4   early_interval   9481 non-null   object
 5   late_interval    1605 non-null   object
 6   max_ma           9481 non-null   float64
 7   min_ma           9481 non-null   float64
 8   phylum           9337 non-null   object
 9   class            9292 non-null   object
 10  order            9123 non-null   object
 11  family           8914 non-null   object
 12  genus            8574 non-null   object
 13  lat              9481 non-null   float64
 14  lng              9481 non-null   float64
 15  diet             8749 non-null   object
 16  geogscale        6426 non-null   object
 17  regionalsection  0 non-null      float64
 18  life_habit       8743 non-null   object
dtypes: float64(5), int64(1), object(13)
memory usage: 1.4+ MB

como podemos ver la columan 17

como todos los float e int estan completos

In [146]:
df_chile_new = df_chile_new.drop(columns = ["regionalsection"])

In [147]:
df_chile_new

,species_name,occurrence_no,accepted_name,accepted_rank,early_interval,late_interval,max_ma,min_ma,phylum,class,order,family,genus,lat,lng,diet,geogscale,life_habit
0,ceciliana,16417,Leionucula,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculida,Nuculidae,Leionucula,-37.000000,-73.000000,"deposit feeder, suspension feeder",basin,infaunal
1,amuriensis,16418,Nuculana,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Nuculana,-37.000000,-73.000000,"deposit feeder, suspension feeder",basin,infaunal
2,cuneiformis,16419,Nuculana,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Nuculana,-37.000000,-73.000000,"deposit feeder, suspension feeder",basin,infaunal
3,levitestata,16420,Yoldia,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculanida,Yoldiidae,Yoldia,-37.000000,-73.000000,deposit feeder,basin,infaunal
4,pencana,16421,Neiloides,genus,Maastrichtian,NaN,72.10,66.000,Mollusca,Bivalvia,Nuculida,NO_FAMILY_SPECIFIED,Neiloides,-37.000000,-73.000000,deposit feeder,basin,infaunal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9476,sp.,1659402,Ostrea,genus,Turonian,Campanian,93.90,72.100,Mollusca,Bivalvia,Ostreida,Ostreidae,Ostrea,-50.884998,-72.625000,suspension feeder,NaN,epifaunal
9477,antarctica,1659403,Cucullaea antarctica,species,Turonian,Campanian,93.90,72.100,Mollusca,Bivalvia,Arcida,Cucullaeidae,Cucullaea,-50.884998,-72.625000,suspension feeder,NaN,infaunal
9478,sp.,1659404,Nucula,genus,Turonian,Campanian,93.90,72.100,Mollusca,Bivalvia,Nuculida,Nuculidae,Nucula,-50.884998,-72.625000,"deposit feeder, suspension feeder",NaN,infaunal
9479,saladensis,1660104,Micrauchenia saladensis,species,Tortonian,Messinian,11.63,5.333,Chordata,Mammalia,Panameriungulata,Macraucheniidae,Micrauchenia,-27.684723,-70.949997,herbivore,NaN,scansorial
9480,indet.,1662256,Tracheophyta,superphylum,Early Maastrichtian,NaN,72.10,66.000,Tracheophyta,NaN,NaN,NaN,NaN,-50.711666,-72.541389,NaN,outcrop,NaN

In [148]:
df_argentina_new = df_argentina_new.drop(columns = ["regionalsection"])

In [149]:
df_argentina_new

,species_name,occurrence_no,accepted_name,accepted_rank,early_interval,late_interval,max_ma,min_ma,phylum,class,order,family,genus,lat,lng,diet,geogscale,life_habit
0,sp.,17744,Nuculana,genus,Maastrichtian,NaN,72.1,66.0,Mollusca,Bivalvia,Nuculanida,Nuculanidae,Nuculana,-39.000000,-69.000000,"deposit feeder, suspension feeder",basin,infaunal
1,rocana,17745,Cucullaea,genus,Maastrichtian,NaN,72.1,66.0,Mollusca,Bivalvia,Arcida,Cucullaeidae,Cucullaea,-39.000000,-69.000000,suspension feeder,basin,infaunal
2,feruglioli,17746,Glycymerita,genus,Maastrichtian,NaN,72.1,66.0,Mollusca,Bivalvia,Arcida,Glycymerididae,Glycymerita,-39.000000,-69.000000,suspension feeder,basin,semi-infaunal
3,sp.,17747,Glycymerita,genus,Maastrichtian,NaN,72.1,66.0,Mollusca,Bivalvia,Arcida,Glycymerididae,Glycymerita,-39.000000,-69.000000,suspension feeder,basin,semi-infaunal
4,mechanquilensis,17748,Inoceramus,genus,Maastrichtian,NaN,72.1,66.0,Mollusca,Bivalvia,Myalinida,Inoceramidae,Inoceramus,-39.000000,-69.000000,suspension feeder,basin,epifaunal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31876,cretacea,1664301,Guembelitria cretacea,species,Maastrichtian,NaN,72.1,66.0,Foraminifera,NO_CLASS_SPECIFIED,Foraminifera,Guembelitriidae,Guembelitria,-38.099998,-68.383331,omnivore,NaN,semi-infaunal
31877,macrocephala,1664302,Rugoglobigerina macrocephala,species,Maastrichtian,NaN,72.1,66.0,Foraminifera,NO_CLASS_SPECIFIED,Foraminifera,Globotruncanidae,Rugoglobigerina,-38.099998,-68.383331,omnivore,NaN,semi-infaunal
31878,excellens,1664303,Cythereis excellens,species,Maastrichtian,NaN,72.1,66.0,Arthropoda,Ostracoda,Podocopida,Trachyleberididae,Cythereis,-38.099998,-68.383331,"detritivore, grazer",NaN,epifaunal
31879,venusta,1664304,Petalocythereis venusta,species,Maastrichtian,NaN,72.1,66.0,Arthropoda,Ostracoda,Podocopida,Trachyleberididae,Petalocythereis,-38.099998,-68.383331,"detritivore, grazer",NaN,epifaunal
31880,patagonica,1664305,Bradleya patagonica,species,Maastrichtian,NaN,72.1,66.0,Arthropoda,Ostracoda,Podocopida,Thaerocytheridae,Bradleya,-38.099998,-68.383331,"detritivore, grazer",NaN,epifaunal

In [150]:
df_antartica_new = df_antartica_new.drop(columns = ["regionalsection"])

In [158]:
df_antartica_new

,species_name,occurrence_no,accepted_name,accepted_rank,early_interval,late_interval,max_ma,min_ma,phylum,class,order,family,genus,lat,lng,diet,geogscale,life_habit
0,rossiana,16484,Solemya,genus,Maastrichtian,NaN,72.1,66.0,Mollusca,Bivalvia,Solemyida,Solemyidae,Solemya,-64.000000,-57.000000,"deposit feeder, chemosymbiotic",basin,deep infaunal
1,suboblonga,16485,Nucula (Leionucula) suboblonga,species,Maastrichtian,NaN,72.1,66.0,Mollusca,Bivalvia,Nuculida,Nuculidae,Leionucula,-64.000000,-57.000000,"deposit feeder, suspension feeder",basin,infaunal
2,nordenskjoldi,16486,Nordenskjoeldia,genus,Maastrichtian,NaN,72.1,66.0,Mollusca,Bivalvia,Arcida,Parallelodontidae,Nordenskjoeldia,-64.000000,-57.000000,suspension feeder,basin,low-level epifaunal
3,oliveroi,16487,NaN,NaN,Maastrichtian,NaN,72.1,66.0,NaN,NaN,NaN,NaN,NaN,-64.000000,-57.000000,NaN,basin,NaN
4,antarctica,16488,Cucullaea antarctica,species,Maastrichtian,NaN,72.1,66.0,Mollusca,Bivalvia,Arcida,Cucullaeidae,Cucullaea,-64.000000,-57.000000,suspension feeder,basin,infaunal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11306,indet.,1662164,Mosasauridae,family,Late Maastrichtian,NaN,72.1,66.0,Chordata,Reptilia,Squamata,Mosasauridae,NaN,-64.286942,-56.836945,carnivore,NaN,aquatic
11307,sp.,1662165,Moanasaurus,genus,Late Maastrichtian,NaN,72.1,66.0,Chordata,Reptilia,Squamata,Mosasauridae,Moanasaurus,-64.292221,-56.800835,carnivore,NaN,aquatic
11308,indet.,1662166,Mosasaurinae,subfamily,Late Maastrichtian,NaN,72.1,66.0,Chordata,Reptilia,Squamata,Mosasauridae,NaN,-64.292221,-56.800835,carnivore,NaN,aquatic
11309,sp.,1662168,Tylosaurinae,subfamily,Late Maastrichtian,NaN,72.1,66.0,Chordata,Reptilia,Squamata,Mosasauridae,NaN,-64.286942,-56.836945,carnivore,NaN,aquatic
11310,sp.,1662169,Leiodon,genus,Late Maastrichtian,NaN,72.1,66.0,Chordata,Reptilia,Squamata,Mosasauridae,Leiodon,-63.884998,-57.584442,carnivore,NaN,aquatic